footer
	.main-width
		.copy © 2013-2014 Информационный портал, содействующий развитию инжиниринговой деятельности и&nbsp;промышленного дизайна
		.social
			ul
				li.in
					a(href="#")
				li.vk
					a(href="#")
				li.fb
					a(href="#")
				li.tw
					a(href="#")
				li.od
					a(href="#")
				li.you
					a(href="#")
				li.rss
					a(href="#") 