include _mixin

doctype html
//	proscom.ru
//	Simple Communication
html
	include _head
	
	body
		<!--[if lte IE 8]>
		script(type="text/javascript").
			$(document).ready(function() {
				var remodalIEError = $.remodal.lookup[$('[data-remodal-id=error-ie]').data('remodal')];
				remodalIEError.open();
			});
		<![endif]-->
	
		.remodal(data-remodal-id="error-ie")
			.popup-error
				h3.center.refusal-name Версия браузера
				p Уважаемый пользователь, уведомляем Вас, <br> что ваша версия браузера не поддерживается системой. Просьба ипользовать IE9 версии и <br> выше и аналогичные версии других браузеров. <br> Вы можете продолжить использование
				.center
					a(href="#").btn-orange-wide.inline.remodal-ok Продолжить

		.remodal(data-remodal-id="error-minwidth")
			.popup-error
				h3.center.refusal-name Минимальная ширина браузера
				p Уважаемый пользователь, уведомляем Вас, <br> что ваш ширина браузера не достаточна для полноценного использования сайта.
				.center
					a(href="#").btn-orange-wide.inline.remodal-ok Продолжить

		#shikarniy
			include _sidebar
			.main-page
				.topper
					.wrap
						.menu
							ul
								li
									a(href="#").js-open-coming-soon Программы по развитию
								li
									a(href="#") Отчеты
								li
									a(href="#") О проекте
						.user.js-usermenu
							.menu-wrap
								.name
									a(href="#") 
										.title Алексей Петров
										.email petrov.i1975@mail.ru
								.pic
									.ava
										img(src="img/content/ava-1.png", alt="")
									.count
										a(href="#") 9
									.arrow
							ul.user-drop.js-usermenu-drop
								li.user-drop__link.user-drop__link_work: a(href="#work") Рабочая область
								li.user-drop__link.user-drop__link_request: a(href="#orders") Заявки
								li.user-drop__link.user-drop__link_messages: a(href="#msg") Сообщения
								li.user-drop__link.user-drop__link_notify
									a(href="#counts") Уведомления
										span.count
											i 9 
								li.user-drop__link.user-drop__link_exit: a(href="#msg") Выход
				//------------------------------------------------
				block content
				include _footer