include _mixin

doctype html
//	proscom.ru
//	Simple Communication
html
	include _head
	
	body
		#shikarniy
			include _sidebar
			.main-page
				.topper
					.wrap
						.menu
							ul
								li
									a(href="#").js-open-coming-soon Программы по развитию
								li
									a(href="#") Отчеты
								li
									a(href="#") О проекте
						.user.js-usermenu
							.name
								a(href="#") 
									.title Алексей Петров
									.email petrov.i1975@mail.ru
							.pic
								.ava
									img(src="img/content/ava-1.png", alt="")
								.count
									a(href="#") 9
								.arrow
							ul.user-drop.js-usermenu-drop
								li.user-drop__link.user-drop__link_work: a(href="#") Рабочая область
								li.user-drop__link.user-drop__link_request: a(href="#") Заявки
								li.user-drop__link.user-drop__link_messages: a(href="#") Сообщения
								li.user-drop__link.user-drop__link_notifyc
									a(href="#") Уведомления
										span.count
											i 9 
				//------------------------------------------------
				block content
				include _footer