//- MIXIN
//------------------------------------------------
mixin comment-block(name)
	.hide
		include _popup-login
		include _popup-register
	
	.box-comments
		.bwrite
			.bname
				h3
					if name
						=name
					else
						| Комментарии


				a(href="#enter-popup") Войти
			.bcon
				.ava
					img(src="img/ava.png", alt="")
				.text
					textarea(placeholder="")
				.action
					a(href="#").btn-orange Оставить комментарий
		.bcomments
			.comment
				.cprev
					a(href="#") 
						img(src="img/content/ava-2.jpg", alt="")
				.ccon
					.name
						a(href="#") Konrad Karlovich
						.date 1 час назад
					.text Я эту штуку не куплю. Работаю с Microsoft Office -- он умнее, чем я.
					.answer
						a(href="#") Ответить
				.comment
					.cprev
						a(href="#") 
							img(src="img/content/ava-2.jpg", alt="")
					.ccon
						.name
							a(href="#") Konrad Karlovich
							.pep 
								|  > 
								a(href="#") Влодко Чорный
							.date 1 час назад
						.text Кто вам сказал, что Surface 2 провал? Вполне нормально берут, конкурентов с таким функционалом просто нет в этом сегменте.
						.answer
							a(href="#") Ответить
					.comment
						.cprev
							a(href="#") 
								img(src="img/ava.png", alt="")
						.ccon
							.name
								a(href="#") Konrad Karlovich
								.date 1 час назад
							.text Из всего перечня именитых контор Мелкомягкие дали фору абсолютно всем, посмотрели на представленный продукт.
							.answer
								a(href="#") Ответить
						.comment
							.cprev
								a(href="#") 
									img(src="img/content/ava-1.png", alt="")
							.ccon
								.name
									a(href="#") Konrad Karlovich
									.date 1 час назад
								.text Кто вам сказал, что Surface 2 провал? Вполне нормально берут, конкурентов с таким функционалом просто нет в этом сегменте.
								.answer
									a(href="#") Ответить
			.comment
				.cprev
					a(href="#") 
						img(src="img/ava.png", alt="")
				.ccon
					.name
						a(href="#") Konrad Karlovich
						.date 1 час назад
					.text Из всего перечня именитых контор Мелкомягкие дали фору абсолютно всем, посмотрели на представленный продукт.
					.answer
						a(href="#") Ответить
			.comment
				.cprev
					a(href="#") 
						img(src="img/content/ava-1.png", alt="")
				.ccon
					.name
						a(href="#") Konrad Karlovich
						.date 1 час назад
					.text Кто вам сказал, что Surface 2 провал? Вполне нормально берут, конкурентов с таким функционалом просто нет в этом сегменте.
					.answer
						a(href="#") Ответить

mixin support-block
	.box-support
		.bcon
			.item
				a(href="#") 
					img(src="img/content/logo-minprom.png", alt="")
			.item
				a(href="#") 
					img(src="img/content/logo-smr.png", alt="")
			.item
				a(href="#") 
					img(src="img/content/logo-ibs.png", alt="")

mixin event-map
	script(src="http://maps.googleapis.com/maps/api/js?v=3.exp&amp;", type="text/javascript")
	.remodal(data-remodal-id="modal").remodal_map
		#google-map(style="width:700px; height:600px;")

mixin report-archive
	.box-right.boxside-list
		.bname: h3: a(href="#") Архив отчетов
		.bcon
			.js-archive-slider
				.slide
					ul
						mixin archive-item
							li
								.small-grey 30 Сентября 2014
								a(href="#") Отчет №2
						+archive-item
						+archive-item
						+archive-item
						+archive-item
						+archive-item
						+archive-item
						+archive-item
						+archive-item
						+archive-item
						+archive-item
						li.center Сентября 2014
				.slide
					ul
						mixin archive-item
							li
								.small-grey 30 Сентября 2014
								a(href="#") Отчет №2
						+archive-item
						+archive-item
						+archive-item
						+archive-item
						+archive-item
						+archive-item
						+archive-item
						+archive-item
						+archive-item
						+archive-item
						li.center Октябрь 2014