.sidebar
	.logo
		a(href="main.html") 
	.menu
		ul
			li.home
				a(href="#", data-menu="home") Главная
			li.info
				a(href="#", data-menu="info") Новости
			li.events
				a(href="#", data-menu="events") Системно-<br>образующие<br>предприятия
			li.talks
				a(href="#", data-menu="home") Документы
			li.search
				a(href="docs.html") Личный кабинет
	.side-extend-fix
	.side-extend(data-menu="home")
		.bname
			h3 Рынок услуг
			a(href="#").close.hoverbg
				.icon
					.act
		//-.bnav
			ul
				li
					a(href="#") За неделю
				li.active
					a(href="#") За месяц
				li
					a(href="#") За все время
		.bcon
			.scroller-box
				.bcat.open.active
					.bcat-name
						.name 
							a(href="docs.html") Потребности 
							span (4)
						.toogle -
					.bcat-con
						.item
							.iname
								a(href="docs.html") Текстильный импортозамещающий комплекс появится в Ростовской…
						.item
							.iprev
								a(href="docs.html") 
									img(src="img/content/60-45-2.jpg", alt="")
							.iname
								a(href="docs.html") Денис Мантуров принял участие в совещании Дмитрия Медведева… развитию микроэлектроники
						.item
							.iprev
								a(href="docs.html")  
									img(src="img/content/60-45-3.jpg", alt="")
							.iname
								a(href="docs.html") Ростех и «Генфа» будут производить импортозамещающие…
				.bcat
					.bcat-name
						.name 
							a(href="docs.html") Услуги 
							span (12)
						.toogle +
					.bcat-con
						.item
							.iprev
								a(href="docs.html") 
									img(src="img/content/60-45-2.jpg", alt="")
							.iname
								a(href="docs.html") Текстильный импортозамещающий комплекс появится в Ростовской…
						.item
							.iprev
								a(href="docs.html") 
									img(src="img/content/60-45-3.jpg", alt="")
							.iname
								a(href="docs.html") Денис Мантуров принял участие в совещании Дмитрия Медведева… развитию микроэлектроники
						.item
							.iprev
								a(href="docs.html") 
									img(src="img/content/60-45-2.jpg", alt="")
							.iname
								a(href="docs.html") Текстильный импортозамещающий комплекс появится в Ростовской…
						.item
							.iprev
								a(href="docs.html") 
									img(src="img/content/60-45-3.jpg", alt="")
							.iname
								a(href="docs.html") Денис Мантуров принял участие в совещании Дмитрия Медведева… развитию микроэлектроники
						.item
							.iprev
								a(href="docs.html") 
									img(src="img/content/60-45-1.jpg", alt="")
							.iname
								a(href="docs.html") Ростех и «Генфа» будут производить импортозамещающие…
				.bcat
					.bcat-name
						.name 
							a(href="docs.html") Потребности 
							span (4)
						.toogle +
					.bcat-con
						.item
							.iprev
								a(href="docs.html") 
									img(src="img/content/60-45-2.jpg", alt="")
							.iname
								a(href="docs.html") Текстильный импортозамещающий комплекс появится в Ростовской…
						.item
							.iprev
								a(href="docs.html") 
									img(src="img/content/60-45-3.jpg", alt="")
							.iname
								a(href="docs.html") Денис Мантуров принял участие в совещании Дмитрия Медведева… развитию микроэлектроники
						.item
							.iprev
								a(href="docs.html") 
									img(src="img/content/60-45-1.jpg", alt="")
							.iname
								a(href="docs.html") Ростех и «Генфа» будут производить импортозамещающие…
				.bcat
					.bcat-name
						.name 
							a(href="docs.html") Потребности 
							span (4)
						.toogle +
					.bcat-con
						.item
							.iprev
								a(href="docs.html") 
									img(src="img/content/60-45-2.jpg", alt="")
							.iname
								a(href="docs.html") Текстильный импортозамещающий комплекс появится в Ростовской…
						.item
							.iprev
								a(href="docs.html") 
									img(src="img/content/60-45-3.jpg", alt="")
							.iname
								a(href="docs.html") Денис Мантуров принял участие в совещании Дмитрия Медведева… развитию микроэлектроники
						.item
							.iprev
								a(href="docs.html") 
									img(src="img/content/60-45-1.jpg", alt="")
							.iname
								a(href="docs.html") Ростех и «Генфа» будут производить импортозамещающие…
				.bcat
					.bcat-name
						.name 
							a(href="docs.html") Потребности 
							span (4)
						.toogle +
					.bcat-con
						.item
							.iprev
								a(href="docs.html") 
									img(src="img/content/60-45-2.jpg", alt="")
							.iname
								a(href="docs.html") Текстильный импортозамещающий комплекс появится в Ростовской…
						.item
							.iprev
								a(href="docs.html") 
									img(src="img/content/60-45-3.jpg", alt="")
							.iname
								a(href="docs.html") Денис Мантуров принял участие в совещании Дмитрия Медведева… развитию микроэлектроники
						.item
							.iprev
								a(href="docs.html") 
									img(src="img/content/60-45-1.jpg", alt="")
							.iname
								a(href="docs.html") Ростех и «Генфа» будут производить импортозамещающие…
	.side-extend(data-menu="info")
		.bname
			h3 Информация
			a(href="docs.html").close.hoverbg
				.icon
					.act
		//-.bnav
			ul
				li
					a(href="docs.html") За неделю
				li.active
					a(href="docs.html") За месяц
				li
					a(href="docs.html") За все время
		.bcon
			.scroller-box
				.bcat.open.active
					.bcat-name
						.name 
							a(href="docs.html") Услуги 
							span (12)
						.toogle -
					.bcat-con
						.item
							.iprev
								a(href="docs.html") 
									img(src="img/content/60-45-2.jpg", alt="")
							.iname
								a(href="docs.html") Текстильный импортозамещающий комплекс появится в Ростовской…
						.item
							.iprev
								a(href="docs.html") 
									img(src="img/content/60-45-3.jpg", alt="")
							.iname
								a(href="docs.html") Денис Мантуров принял участие в совещании Дмитрия Медведева… развитию микроэлектроники
						.item
							.iprev
								a(href="docs.html") 
									img(src="img/content/60-45-2.jpg", alt="")
							.iname
								a(href="docs.html") Текстильный импортозамещающий комплекс появится в Ростовской…
						.item
							.iprev
								a(href="docs.html") 
									img(src="img/content/60-45-3.jpg", alt="")
							.iname
								a(href="docs.html") Денис Мантуров принял участие в совещании Дмитрия Медведева… развитию микроэлектроники
						.item
							.iprev
								a(href="docs.html") 
									img(src="img/content/60-45-1.jpg", alt="")
							.iname
								a(href="docs.html") Ростех и «Генфа» будут производить импортозамещающие…
				.bcat.open.active
					.bcat-name
						.name 
							a(href="docs.html") Потребности 
							span (4)
						.toogle -
					.bcat-con
						.item
							.iprev
								a(href="docs.html") 
									img(src="img/content/60-45-2.jpg", alt="")
							.iname
								a(href="docs.html") Текстильный импортозамещающий комплекс появится в Ростовской…
						.item
							.iprev
								a(href="docs.html") 
									img(src="img/content/60-45-3.jpg", alt="")
							.iname
								a(href="docs.html") Денис Мантуров принял участие в совещании Дмитрия Медведева… развитию микроэлектроники
						.item
							.iprev
								a(href="docs.html") 
									img(src="img/content/60-45-1.jpg", alt="")
							.iname
								a(href="docs.html") Ростех и «Генфа» будут производить импортозамещающие…
				.bcat
					.bcat-name
						.name 
							a(href="docs.html") Потребности 
							span (4)
						.toogle +
					.bcat-con
						.item
							.iprev
								a(href="docs.html") 
									img(src="img/content/60-45-2.jpg", alt="")
							.iname
								a(href="docs.html") Текстильный импортозамещающий комплекс появится в Ростовской…
						.item
							.iprev
								a(href="docs.html") 
									img(src="img/content/60-45-3.jpg", alt="")
							.iname
								a(href="docs.html") Денис Мантуров принял участие в совещании Дмитрия Медведева… развитию микроэлектроники
						.item
							.iprev
								a(href="docs.html") 
									img(src="img/content/60-45-1.jpg", alt="")
							.iname
								a(href="docs.html") Ростех и «Генфа» будут производить импортозамещающие…
				.bcat
					.bcat-name
						.name 
							a(href="docs.html") Потребности 
							span (4)
						.toogle +
					.bcat-con
						.item
							.iprev
								a(href="docs.html") 
									img(src="img/content/60-45-2.jpg", alt="")
							.iname
								a(href="docs.html") Текстильный импортозамещающий комплекс появится в Ростовской…
						.item
							.iprev
								a(href="docs.html") 
									img(src="img/content/60-45-3.jpg", alt="")
							.iname
								a(href="docs.html") Денис Мантуров принял участие в совещании Дмитрия Медведева… развитию микроэлектроники
						.item
							.iprev
								a(href="docs.html") 
									img(src="img/content/60-45-1.jpg", alt="")
							.iname
								a(href="docs.html") Ростех и «Генфа» будут производить импортозамещающие…
				.bcat.open.active
					.bcat-name
						.name 
							a(href="docs.html") Потребности 
							span (4)
						.toogle -
					.bcat-con
						.item
							.iprev
								a(href="docs.html") 
									img(src="img/content/60-45-1.jpg", alt="")
							.iname
								a(href="docs.html") Текстильный импортозамещающий комплекс появится в Ростовской…
						.item
							.iprev
								a(href="docs.html") 
									img(src="img/content/60-45-2.jpg", alt="")
							.iname
								a(href="docs.html") Денис Мантуров принял участие в совещании Дмитрия Медведева… развитию микроэлектроники
						.item
							.iprev
								a(href="docs.html")  
									img(src="img/content/60-45-3.jpg", alt="")
							.iname
								a(href="docs.html") Ростех и «Генфа» будут производить импортозамещающие…
	.side-extend(data-menu="events")
		.bname
			h3 События
			a(href="docs.html").close.hoverbg
				.icon
					.act
		//-.bnav
		.bcon
			.scroller-box
				.bcat.open.active
					.bcat-name
						.name 
							a(href="docs.html") Сегодня 
							span (2)
						.toogle -
					.bcat-con
						.item.active
							.idate
								.num 17
								.day октября
							.iname
								a(href="docs.html") Выставка научного оборудования НИИ спорта РГУФКСМиТ
						.item
							.idate
								.num 14
								.day октября
							.iname
								a(href="docs.html") Инновации в торговле
				.bcat
					.bcat-name
						.name 
							a(href="docs.html") Ближайшие 
							span (2)
						.toogle -
					.bcat-con
						.item
							.idate
								.num 17
								.day октября
							.iname
								a(href="docs.html") Выставка научного оборудования НИИ спорта РГУФКСМиТ
						.item
							.idate
								.num 14
								.day октября
							.iname
								a(href="docs.html") Инновации в торговле
				.bcat
					.bcat-name
						.name 
							a(href="docs.html") Прошедшие 
							span (2)
						.toogle -
					.bcat-con
						.item
							.idate
								.num 17
								.day октября
							.iname
								a(href="docs.html") Выставка научного оборудования НИИ спорта РГУФКСМиТ
						.item
							.idate
								.num 14
								.day октября
							.iname
								a(href="docs.html") Инновации в торговле