.sidebar
	.logo
		a(href="#") 
	.menu
		ul
			li.home
				a(href="#", data-menu="home") Рынок услуг
			li.info
				a(href="#", data-menu="info") Информация
			li.events
				a(href="#", data-menu="events") События
			li.talks
				a(href="#", data-menu="home") Обсуждения
			li.search
				a(href="#", data-menu="home") Поиск
	.side-extend-fix
	.side-extend(data-menu="home")
		.bname
			h3 Рынок услуг
			a(href="#").close.hoverbg
				.icon
					.act
		.bnav
			ul
				li
					a(href="#") За неделю
				li.active
					a(href="#") За месяц
				li
					a(href="#") За все время
		.bcon
			.scroller-box
				.bcat.open.active
					.bcat-name
						.name 
							a(href="#") Потребности 
							span (4)
						.toogle -
					.bcat-con
						.item
							.iprev
								a(href="#") 
								img(src="img/content/60-45-1.jpg", alt="")
							.iname
								a(href="#") Текстильный импортозамещающий комплекс появится в Ростовской…
						.item
							.iprev
								a(href="#") 
								img(src="img/content/60-45-2.jpg", alt="")
							.iname
								a(href="#") Денис Мантуров принял участие в совещании Дмитрия Медведева… развитию микроэлектроники
						.item
							.iprev
								a(href="#")  
								img(src="img/content/60-45-3.jpg", alt="")
							.iname
								a(href="#") Ростех и «Генфа» будут производить импортозамещающие…
				.bcat
					.bcat-name
						.name 
							a(href="#") Услуги 
							span (12)
						.toogle +
					.bcat-con
						.item
							.iprev
								a(href="#") 
								img(src="img/content/60-45-2.jpg", alt="")
							.iname
								a(href="#") Текстильный импортозамещающий комплекс появится в Ростовской…
						.item
							.iprev
								a(href="#") 
								img(src="img/content/60-45-3.jpg", alt="")
							.iname
								a(href="#") Денис Мантуров принял участие в совещании Дмитрия Медведева… развитию микроэлектроники
						.item
							.iprev
								a(href="#") 
								img(src="img/content/60-45-2.jpg", alt="")
							.iname
								a(href="#") Текстильный импортозамещающий комплекс появится в Ростовской…
						.item
							.iprev
								a(href="#") 
								img(src="img/content/60-45-3.jpg", alt="")
							.iname
								a(href="#") Денис Мантуров принял участие в совещании Дмитрия Медведева… развитию микроэлектроники
						.item
							.iprev
								a(href="#") 
								img(src="img/content/60-45-1.jpg", alt="")
							.iname
								a(href="#") Ростех и «Генфа» будут производить импортозамещающие…
				.bcat
					.bcat-name
						.name 
							a(href="#") Потребности 
							span (4)
						.toogle +
					.bcat-con
						.item
							.iprev
								a(href="#") 
								img(src="img/content/60-45-2.jpg", alt="")
							.iname
								a(href="#") Текстильный импортозамещающий комплекс появится в Ростовской…
						.item
							.iprev
								a(href="#") 
								img(src="img/content/60-45-3.jpg", alt="")
							.iname
								a(href="#") Денис Мантуров принял участие в совещании Дмитрия Медведева… развитию микроэлектроники
						.item
							.iprev
								a(href="#") 
								img(src="img/content/60-45-1.jpg", alt="")
							.iname
								a(href="#") Ростех и «Генфа» будут производить импортозамещающие…
				.bcat
					.bcat-name
						.name 
							a(href="#") Потребности 
							span (4)
						.toogle +
					.bcat-con
						.item
							.iprev
								a(href="#") 
								img(src="img/content/60-45-2.jpg", alt="")
							.iname
								a(href="#") Текстильный импортозамещающий комплекс появится в Ростовской…
						.item
							.iprev
								a(href="#") 
								img(src="img/content/60-45-3.jpg", alt="")
							.iname
								a(href="#") Денис Мантуров принял участие в совещании Дмитрия Медведева… развитию микроэлектроники
						.item
							.iprev
								a(href="#") 
								img(src="img/content/60-45-1.jpg", alt="")
							.iname
								a(href="#") Ростех и «Генфа» будут производить импортозамещающие…
				.bcat
					.bcat-name
						.name 
							a(href="#") Потребности 
							span (4)
						.toogle +
					.bcat-con
						.item
							.iprev
								a(href="#") 
								img(src="img/content/60-45-2.jpg", alt="")
							.iname
								a(href="#") Текстильный импортозамещающий комплекс появится в Ростовской…
						.item
							.iprev
								a(href="#") 
								img(src="img/content/60-45-3.jpg", alt="")
							.iname
								a(href="#") Денис Мантуров принял участие в совещании Дмитрия Медведева… развитию микроэлектроники
						.item
							.iprev
								a(href="#") 
								img(src="img/content/60-45-1.jpg", alt="")
							.iname
								a(href="#") Ростех и «Генфа» будут производить импортозамещающие…
	.side-extend(data-menu="info")
		.bname
			h3 Информация
			a(href="#").close.hoverbg
				.icon
					.act
		.bnav
			ul
				li.active
					a(href="#") За неделю
				li
					a(href="#") За месяц
				li
					a(href="#") За все время
		.bcon
			.scroller-box
				.bcat.open.active
					.bcat-name
						.name 
							a(href="#") Услуги 
							span (12)
						.toogle -
					.bcat-con
						.item
							.iprev
								a(href="#") 
								img(src="img/content/60-45-2.jpg", alt="")
							.iname
								a(href="#") Текстильный импортозамещающий комплекс появится в Ростовской…
						.item
							.iprev
								a(href="#") 
								img(src="img/content/60-45-3.jpg", alt="")
							.iname
								a(href="#") Денис Мантуров принял участие в совещании Дмитрия Медведева… развитию микроэлектроники
						.item
							.iprev
								a(href="#") 
								img(src="img/content/60-45-2.jpg", alt="")
							.iname
								a(href="#") Текстильный импортозамещающий комплекс появится в Ростовской…
						.item
							.iprev
								a(href="#") 
								img(src="img/content/60-45-3.jpg", alt="")
							.iname
								a(href="#") Денис Мантуров принял участие в совещании Дмитрия Медведева… развитию микроэлектроники
						.item
							.iprev
								a(href="#") 
								img(src="img/content/60-45-1.jpg", alt="")
							.iname
								a(href="#") Ростех и «Генфа» будут производить импортозамещающие…
				.bcat.open.active
					.bcat-name
						.name 
							a(href="#") Потребности 
							span (4)
						.toogle -
					.bcat-con
						.item
							.iprev
								a(href="#") 
								img(src="img/content/60-45-2.jpg", alt="")
							.iname
								a(href="#") Текстильный импортозамещающий комплекс появится в Ростовской…
						.item
							.iprev
								a(href="#") 
								img(src="img/content/60-45-3.jpg", alt="")
							.iname
								a(href="#") Денис Мантуров принял участие в совещании Дмитрия Медведева… развитию микроэлектроники
						.item
							.iprev
								a(href="#") 
								img(src="img/content/60-45-1.jpg", alt="")
							.iname
								a(href="#") Ростех и «Генфа» будут производить импортозамещающие…
				.bcat
					.bcat-name
						.name 
							a(href="#") Потребности 
							span (4)
						.toogle +
					.bcat-con
						.item
							.iprev
								a(href="#") 
								img(src="img/content/60-45-2.jpg", alt="")
							.iname
								a(href="#") Текстильный импортозамещающий комплекс появится в Ростовской…
						.item
							.iprev
								a(href="#") 
								img(src="img/content/60-45-3.jpg", alt="")
							.iname
								a(href="#") Денис Мантуров принял участие в совещании Дмитрия Медведева… развитию микроэлектроники
						.item
							.iprev
								a(href="#") 
								img(src="img/content/60-45-1.jpg", alt="")
							.iname
								a(href="#") Ростех и «Генфа» будут производить импортозамещающие…
				.bcat
					.bcat-name
						.name 
							a(href="#") Потребности 
							span (4)
						.toogle +
					.bcat-con
						.item
							.iprev
								a(href="#") 
								img(src="img/content/60-45-2.jpg", alt="")
							.iname
								a(href="#") Текстильный импортозамещающий комплекс появится в Ростовской…
						.item
							.iprev
								a(href="#") 
								img(src="img/content/60-45-3.jpg", alt="")
							.iname
								a(href="#") Денис Мантуров принял участие в совещании Дмитрия Медведева… развитию микроэлектроники
						.item
							.iprev
								a(href="#") 
								img(src="img/content/60-45-1.jpg", alt="")
							.iname
								a(href="#") Ростех и «Генфа» будут производить импортозамещающие…
				.bcat.open.active
					.bcat-name
						.name 
							a(href="#") Потребности 
							span (4)
						.toogle -
					.bcat-con
						.item
							.iprev
								a(href="#") 
								img(src="img/content/60-45-1.jpg", alt="")
							.iname
								a(href="#") Текстильный импортозамещающий комплекс появится в Ростовской…
						.item
							.iprev
								a(href="#") 
								img(src="img/content/60-45-2.jpg", alt="")
							.iname
								a(href="#") Денис Мантуров принял участие в совещании Дмитрия Медведева… развитию микроэлектроники
						.item
							.iprev
								a(href="#")  
								img(src="img/content/60-45-3.jpg", alt="")
							.iname
								a(href="#") Ростех и «Генфа» будут производить импортозамещающие…
	.side-extend(data-menu="events")
		.bname
			h3 События
			a(href="#").close.hoverbg
				.icon
					.act
		.bnav
		.bcon
			.scroller-box
				.bcat.open.active
					.bcat-name
						.name 
							a(href="#") Сегодня 
							span (2)
						.toogle -
					.bcat-con
						.item
							.idate
								.num 17
								.day октября
							.iname
								a(href="#") Выставка научного оборудования НИИ спорта РГУФКСМиТ
						.item
							.idate
								.num 14
								.day октября
							.iname
								a(href="#") Инновации в торговле
				.bcat
					.bcat-name
						.name 
							a(href="#") Ближайшие 
							span (2)
						.toogle -
					.bcat-con
						.item
							.idate
								.num 17
								.day октября
							.iname
								a(href="#") Выставка научного оборудования НИИ спорта РГУФКСМиТ
						.item
							.idate
								.num 14
								.day октября
							.iname
								a(href="#") Инновации в торговле
				.bcat
					.bcat-name
						.name 
							a(href="#") Прошедшие 
							span (2)
						.toogle -
					.bcat-con
						.item
							.idate
								.num 17
								.day октября
							.iname
								a(href="#") Выставка научного оборудования НИИ спорта РГУФКСМиТ
						.item
							.idate
								.num 14
								.day октября
							.iname
								a(href="#") Инновации в торговле