extends _layout

block append content		
	//------------------------------------------------
	.main-width.main-wrap
		.pathway
			ul
				li
					a(href="#") О проекте
		//------------------------------------------------
		.page-name
			h1 Добро пожаловать
			p Добро пожаловать на портал, содействуйщий развитию инжиниринга и промышленного дизайна в России.
		//------------------------------------------------
		.main-left
			img(src="img/content/about-page.png", alt="")
			.tasks
				h3 Задачи проекта:
				ol
					li Оперативное информирование целевых аудиторий посредством публикации на портале профилирующих новостей, документов (нормативных и законодательных), анонсирования планируемых (с возможностью он-лайн регистрации) и освещения прошедших событий (мероприятий), размещения тематических Интернет баннеров, мотивирования активности заинтересованных субъектов в области инжиниринга и промышленного дизайна через оценку их инновационного (научно-технического) потенциала в публикуемых и автоматически обновляемых на портале рейтингах.
					li Вовлечение экспертного сообщества и других пользователей портала в процесс открытого и закрытого обсуждения проблем и необходимых действий по развитию инжиниринговой деятельности и промышленного дизайна через предоставление возможностей для зарегистрированных пользователей из соответствующих групп электронного дискутирования (ведение комментариев, разработку новых и актуализацию действующих документов, внесения версионных поправок в документы, корректировка нормативных показателей и т.д.) разрабатываемых и публикуемых на портале стандартов, нормативов, правил, нормативных правовых актов и других регламентирующих документов.
					li Формирование и ведение открытого реестра образовательных организаций высшего образования, государственных научных центров, частных компаний, на базе которых были созданы инжиниринговые центры или планируются к реализации пилотные проекты по созданию центров инжиниринга и промышленного дизайна.
					li Формирование реестра (каталога) высокотехнологичного оборудования, используемого в инжиниринговой деятельности образовательных организаций высшего образования, государственных научных центров, научно-исследовательских организаций и институтов Российской академии наук и компаний, а также регламентов предоставления услуг по доступу к этому оборудованию субъектов инжиниринговой деятельности и промышленного дизайна в виде публичной оферты.
					li Стимулирование спроса на услуги, предоставляемые субъектами инжиниринговой деятельности и промышленного дизайна.
					li Информационная и методическая поддержка в процессе разработки концепций создания национальных лидеров в приоритетных отраслевых сегментах на базе российских компаний с применением мер государственной поддержки (на основании системы бальной оценки научно-технического потенциала, по совокупности имеющейся информации о каждом зарегистрированном на портале субъекте и его месте в публикуемом на портале рейтинге).
					li Поддержка мониторинга реализации этапов реализации пилотных (текущих и перспективных) проектов и программ по развитию инжиниринговой деятельности и промышленного дизайна, выполнения целевых индикаторов и показателей, размещение отчетов о ходе реализации программ, представление предложений по повышению их эффективности для компаний и организаций на базе научных исследовательских центров и научных исследовательских университетов, находящихся в ведении федеральных органов исполнительной власти, субъектов малого и среднего предпринимательства, а также частных компаний.
					li Реализация принципиально новой системы коммуникации между зарегистрированными пользователями портала, позволяющей контролировать доведение исходящих формализованных и неформализованных сообщений до получателя в целях координации деятельности организаций индустрии инжиниринга и промышленного дизайна.
				.made-by 
					p Разработан компанией 
						a(href="#") IBS
					b При поддержке
					ul
						li
							a(href="#") Министерство промышленности и торговли России
						li
							a(href="#") Союз машиностроителей России
						li
							a(href="#") Межведомственный аналитически центр
					ul.inline
						li
							img(src="img/content/comp-logos/1.png", alt="1 company")
						li
							img(src="img/content/comp-logos/2.png", alt="2 company")
						li
							img(src="img/content/comp-logos/3.png", alt="3 company")
						li
							img(src="img/content/comp-logos/4.png", alt="4 company")
				.contact-info
					hr
					p Контактная информация
					ul
						li Москва, ул. Старая Бассманная, д. 11
						li Телефон +7 495 567 65 45
						li Факс +7 495 567 65 45
						li Email ing@ing.ru