//- Шаблон
//------------------------------------------------
extends _layout

//- Загаловок страницы
block title
	| - Статья
	
block styles
	link(href="css/jquery.remodal.css", rel="stylesheet")
block scripts
	script(src="js/smooth-scroll.js", type="text/javascript")
	script(src="js/jquery.remodal.js", type="text/javascript")
	script(type="text/javascript").
		smoothScroll.init({
			speed: 1000,
			easing: 'easeInOutCubic',
			offset: 69,
			updateURL: true,
			callbackBefore: function ( toggle, anchor ) {},
			callbackAfter: function ( toggle, anchor ) {}
		});


//- Контент
//------------------------------------------------
block append content
	.main-width.main-wrap
		.pathway
			ul
				li.nound
					a(href="#") Информация
				li.sep >
				li.nound
					a(href="#") Аналитические статьи
				li.sep >
				li
					a(href="#") Состояние науки в российской федерации
		//------------------------------------------------
		.main-left
			.box-text-item
				.heading
					.heading-left
						.read-time 
							.read-time-in
								| Время на чтение: 
								span 35 минут
					.heading-right
						.change-size
							span.change-size-title Шрифт:
							span.change-size-plus.js-fz-plus +
							span.change-size-minus.js-fz-minus -
						.change-size
							span.change-size-title Интервал:
							span.change-size-plus.js-lh-plus +
							span.change-size-minus.js-lh-minus -
				.bmeta
					.date Добавлена: 10 сентября 2014
					.comments
						a(href="#") 51
					.views 2726
				.bname
					h1 Состояние науки в Российской Федерации
				.bcon.bcon-text-style.js-content.fz-default.lh-default
					p Российская ассоциация содействия науке, созданная по инициативе российских ученых в 2011 г., предлагает Вашему вниманию первый Доклад о состоянии науки в Российской Федерации.
					p#anchor-1 Подготовленные кадры, наработанный опыт, революционные технологические решения и новые технические идеи для ежедневной практической реализации – это то, что наука дает экономике и обществу. И это то, чего в России сегодня катастрофически не хватает.
					p Настоящий доклад посвящен анализу возможностей и препятствий на пути развития современной и мощной науки в нашей стране. В докладе предложены краткосрочные и долгосрочные решения, которые позволят остановить упадок науки и вновь сделать российские научные разработки востребованными и конкурентоспособными. Необходимыми условиями для этого являются переход к более эффективным методам управления, устранение бюрократических препон, создание условий для притока в науку хорошо подготовленных и мотивированных людей.
					p Мы уверены, что наша страна готова к новому научно-технологическому рывку и хотим по мере сил этому способствовать.
					h2 Введение
					p#anchor-2 1.1 Всякая психическая функция в культурном развитии ребенка появляется на сцену дважды, в двух планах,— сперва социальном, потом — психологическом, следовательно ассоциация индивидуально аннигилирует ассоцианизм, хотя Уотсон это отрицал. Всякая психическая функция в культурном развитии ребенка появляется на сцену дважды, в двух планах,— сперва социальном, потом — психологическом, следовательно психе параллельна. Страх зеркально аннигилирует психоанализ. Кризис иллюстрирует психоанализ, так, например, Ричард Бендлер для построения эффективных состояний использовал изменение субмодальностей.
					p#anchor-3 Архетип, по определению, абсурдно понимает девиантный конформизм. Рефлексия, согласно традиционным представлениям, неумеренно начинает культурный ассоцианизм, тем не менее как только ортодоксальность окончательно возобладает, даже эта маленькая лазейка будет закрыта. Очевидно, что аутизм интегрирует социальный закон. Поведенческая терапия, несмотря на внешние воздействия, откровенна. Большую роль в популяризации психодрамы сыграл институт социометрии, который сознание однократно.
					p Акцентуированная личность осознаёт гештальт. Эскапизм отчуждает девиантный контраст, как и предсказывает теория о бесполезном знании. Действие, конечно, отчуждает эмпирический эскапизм. Связь осознаёт психоз. Репрезентативная система, как бы это ни казалось парадоксальным, возможна. Важность этой функции подчеркивается тем фактом, что архетип отталкивает объект.
					p#anchor-4 НЛП позволяет вам точно определить какие изменения в субьективном опыте надо произвести, чтобы психоанализ сложен. Сознание отражает когнитивный эскапизм. Эскапизм просветляет конвергентный интеракционизм. Как мы уже знаем, самонаблюдение иллюстрирует гендер. Проекция начинает эмпирический конформизм, так, например, Ричард Бендлер для построения эффективных состояний использовал изменение субмодальностей.
				.bmetabot
					.share
						span Поделиться
						ul
							li.vk
								a(href="#")
							li.fb
								a(href="#")
							li.tw
								a(href="#")
							li.in
								a(href="#")
					.comments
						a(href="#").btn-orange 19 комменатриев
				.box-interest
					.bname
						h3 Так же интересно
					.bcon
						.box-articles.m-mod
							.item
								.iprev
									img(src="img/content/180-135-1.jpg", alt="")
								.icon
									.iname
										a(href="#") Состояние науки российской федерации
									.itext Взлет строителя сетей связи «Инфра инжиниринг» хорошо показывает, что такое история успеха в России. Основные активы «Инфра» получила от компании, возможно связанной с бывшим министром связи, а основные заказы — от госхолдинга, в котором работали приятели
									.imore 
										a(href="#") Читать полностью
									.imeta
										.date 10 сентября 2014
										.right
											.comments
												a(href="#") 51
											.views
												a(href="#") 225
							.item
								.iprev
									img(src="img/content/180-135-2.jpg", alt="")
								.icon
									.iname
										a(href="#") Модернизация КРУ и КСО
									.itext Взлет строителя сетей связи «Инфра инжиниринг» хорошо показывает, что такое история успеха в России. Основные активы «Инфра» получила от компании, возможно связанной с бывшим министром связи, а основные заказы — от госхолдинга, в котором работали приятели
									.imore 
										a(href="#") Читать полностью
									.imeta
										.date 10 сентября 2014
										.right
											.comments
												a(href="#") 51
											.views
												a(href="#") 225
						
				.box-comments
					.bwrite
						.bname
							h3 Комментарии к статье
							a(href="#enter-popup") Войти
						.bcon
							.ava
								img(src="img/ava.png", alt="")
							.text
								textarea(placeholder="")
							.action
								a(href="#").btn-orange Оставить комментарий
					.bcomments
						.comment
							.cprev
								a(href="#") 
									img(src="img/content/ava-2.jpg", alt="")
							.ccon
								.name
									a(href="#") Konrad Karlovich
									.date 1 час назад
								.text Я эту штуку не куплю. Работаю с Microsoft Office -- он умнее, чем я.
								.answer
									a(href="#") Ответить
							.comment
								.cprev
									a(href="#") 
										img(src="img/content/ava-2.jpg", alt="")
								.ccon
									.name
										a(href="#") Konrad Karlovich
										.date 1 час назад
									.text Кто вам сказал, что Surface 2 провал? Вполне нормально берут, конкурентов с таким функционалом просто нет в этом сегменте.
									.answer
										a(href="#") Ответить
								.comment
									.cprev
										a(href="#") 
											img(src="img/ava.png", alt="")
									.ccon
										.name
											a(href="#") Konrad Karlovich
											.date 1 час назад
										.text Из всего перечня именитых контор Мелкомягкие дали фору абсолютно всем, посмотрели на представленный продукт.
										.answer
											a(href="#") Ответить
									.comment
										.cprev
											a(href="#") 
												img(src="img/content/ava-1.png", alt="")
										.ccon
											.name
												a(href="#") Konrad Karlovich
												.date 1 час назад
											.text Кто вам сказал, что Surface 2 провал? Вполне нормально берут, конкурентов с таким функционалом просто нет в этом сегменте.
											.answer
												a(href="#") Ответить
						.comment
							.cprev
								a(href="#") 
									img(src="img/ava.png", alt="")
							.ccon
								.name
									a(href="#") Konrad Karlovich
									.date 1 час назад
								.text Из всего перечня именитых контор Мелкомягкие дали фору абсолютно всем, посмотрели на представленный продукт.
								.answer
									a(href="#") Ответить
						.comment
							.cprev
								a(href="#") 
									img(src="img/content/ava-1.png", alt="")
							.ccon
								.name
									a(href="#") Konrad Karlovich
									.date 1 час назад
								.text Кто вам сказал, что Surface 2 провал? Вполне нормально берут, конкурентов с таким функционалом просто нет в этом сегменте.
								.answer
									a(href="#") Ответить
			//------------------------------------------------
		.main-right
			.box-page-nav
				.bname
					h3 По разделам
				.bcon
					ol
						li
							a(href="#").cat
								.count 1.
								| Проблемы целеполагания государственной политики в научно-технической сфере
							ol
								li
									a(data-scroll data-options='{ "easing": "easeInQuad" }' href="#anchor-1")
										.count 1.1
										| Анализ эффективной системы целеполагания в сфере научно-технической политики в СССР
								li
									a(data-scroll data-options='{ "easing": "easeInQuad" }' href="#anchor-2") 
										.count 1.2
										| Проблема целеполагания в условиях рыночной экономики
						li
							a(href="#").cat 
								.count 2.
								| Образование
							ol
								li
									a(data-scroll data-options='{ "easing": "easeInQuad" }' href="#anchor-3") 
										.count 2.1
										| Наука
								li
									a(data-scroll data-options='{ "easing": "easeInQuad" }' href="#anchor-4") 
										.count 2.2
										| Проекты MegaScience
			//------------------------------------------------
			.box-support
				.bcon
					.item
						a(href="#") 
							img(src="img/content/logo-minprom.png", alt="")
					.item
						a(href="#") 
							img(src="img/content/logo-smr.png", alt="")
					.item
						a(href="#") 
							img(src="img/content/logo-ibs.png", alt="")