//- Шаблон
//------------------------------------------------
extends _layout

//- Загаловок страницы
block title
	| - Статьи
	
block styles
	link(href="css/jquery.datetimepicker.css", rel="stylesheet")
block scripts
	script(src="js/jquery.datetimepicker.js", type="text/javascript")
 
 
//- Контент
//------------------------------------------------
block append content
	.main-width.main-wrap
		.pathway
			ul
				li.nound
					a(href="#") Информация
				li.sep >
				li
					a(href="#") Рынок услуг
		//------------------------------------------------
		.page-name
			h1 Аналитические статьи
			p Аналитические статьи на тему строительства промышленных и иных объектов
		//------------------------------------------------
		.main-left
			.search-con
				form(action="#")
					input(type="text", placeholder="Быстрый поиск по аналитическим статьям").inp-text
					input(type="submit", value="").inp-submit
			.box-articles
				.heading
					.heading-left_sort Сортировать по:						
					.heading-right_sort
						a(href="#")
							| Пользовательскому рейтингу 
							span
						a(href="#") 
							| Названию организации
							span 
				.item
					.iprev
						img(src="img/content/180-135-1.jpg", alt="")
					.icon
						.idate 10 сентября 2014
						.iname
							a(href="#") Состояние науки российской федерации
						.irating.mar-bot-10.irating_margin2
							ul
								li.star
								li.star
								li.star
								li
								li
						.itext.lh-small
							p Взлет строителя сетей связи «Инфра инжиниринг» хорошо показывает, что такое история успеха в России.
						.imeta-info
							.tags.col-2
								a(href="#").tags-item
									span.name Выставки
									span.count 12
								a(href="#").tags-item
									span.name Машиностроение
									span.count.empty
							.imeta.col-2.col-fix
								.comments
									a(href="#") 51
								.views
									a(href="#") 225
				.item
					.iprev
						img(src="img/content/180-135-2.jpg", alt="")
					.icon
						.idate 10 сентября 2014
						.iname
							a(href="#") Состояние науки российской федерации
						.irating.mar-bot-10.irating_margin2
							ul
								li.star
								li.star
								li.star
								li
								li
						.itext.lh-small
							p Взлет строителя сетей связи «Инфра инжиниринг» хорошо показывает, что такое история успеха в России.
						.imeta-info
							.tags.col-2
								a(href="#").tags-item
									span.name Выставки
									span.count 12
								a(href="#").tags-item
									span.name Машиностроение
									span.count.empty
								a(href="#").tags-item
									span.name Интересный длинный тег
									span.count.empty
							.imeta.col-2.col-fix
								.comments
									a(href="#") 51
								.views
									a(href="#") 225
				.item
					.iprev
						img(src="img/content/180-135-1.jpg", alt="")
					.icon
						.idate 10 сентября 2014
						.iname
							a(href="#") Состояние науки российской федерации
						.irating.mar-bot-10.irating_margin2
							ul
								li.star
								li.star
								li.star
								li
								li
						.itext.lh-small
							p Взлет строителя сетей связи «Инфра инжиниринг» хорошо показывает, что такое история успеха в России.
						.imeta-info
							.tags.col-2
								a(href="#").tags-item
									span.name Выставки
									span.count 12
								a(href="#").tags-item
									span.name Машиностроение
									span.count.empty
							.imeta.col-2.col-fix
								.comments
									a(href="#") 51
								.views
									a(href="#") 225
				.item
					.iprev
						img(src="img/content/180-135-2.jpg", alt="")
					.icon
						.idate 10 сентября 2014
						.iname
							a(href="#") Состояние науки российской федерации
						.irating.mar-bot-10.irating_margin2
							ul
								li.star
								li.star
								li.star
								li
								li
						.itext.lh-small
							p Взлет строителя сетей связи «Инфра инжиниринг» хорошо показывает, что такое история успеха в России.
						.imeta-info
							.tags.col-2
								a(href="#").tags-item
									span.name Выставки
									span.count 12
								a(href="#").tags-item
									span.name Машиностроение
									span.count.empty
								a(href="#").tags-item
									span.name Интересный длинный тег
									span.count.empty
							.imeta.col-2.col-fix
								.comments
									a(href="#") 51
								.views
									a(href="#") 225
				.item
					.iprev
						img(src="img/content/180-135-1.jpg", alt="")
					.icon
						.idate 10 сентября 2014
						.iname
							a(href="#") Состояние науки российской федерации
						.irating.mar-bot-10.irating_margin2
							ul
								li.star
								li.star
								li.star
								li
								li
						.itext.lh-small
							p Взлет строителя сетей связи «Инфра инжиниринг» хорошо показывает, что такое история успеха в России.
						.imeta-info
							.tags.col-2
								a(href="#").tags-item
									span.name Выставки
									span.count 12
								a(href="#").tags-item
									span.name Машиностроение
									span.count.empty
							.imeta.col-2.col-fix
								.comments
									a(href="#") 51
								.views
									a(href="#") 225
				.item
					.iprev
						img(src="img/content/180-135-2.jpg", alt="")
					.icon
						.idate 10 сентября 2014
						.iname
							a(href="#") Состояние науки российской федерации
						.irating.mar-bot-10.irating_margin2
							ul
								li.star
								li.star
								li.star
								li
								li
						.itext.lh-small
							p Взлет строителя сетей связи «Инфра инжиниринг» хорошо показывает, что такое история успеха в России.
						.imeta-info
							.tags.col-2
								a(href="#").tags-item
									span.name Выставки
									span.count 12
								a(href="#").tags-item
									span.name Машиностроение
									span.count.empty
								a(href="#").tags-item
									span.name Интересный длинный тег
									span.count.empty
							.imeta.col-2.col-fix
								.comments
									a(href="#") 51
								.views
									a(href="#") 225
		//------------------------------------------------
		.main-right
			.box-sort-docs.box-right
				.bname
					h3 Показать статьи
				.bcon
					.dates
						.legend c датой публикации
						.line
							.td
								span от
							.td
								input(type="text", placeholder="дата от").js-calendar-widget.calendar-widget-pop
							.td
								a(href="#").js-open-cal.cal
						.line
							.td
								span до
							.td
								input(type="text", placeholder="дата до").js-calendar-widget.calendar-widget-pop2
							.td
								a(href="#").js-open-cal.cal
					.checks
						.legend Относятся к разделу
						.line
							input(id="check-val2" type="checkbox" name="radio")
							label(for="check-val2") Свидетельства о регистрации (243)
						.line
							input(id="check-val3" type="checkbox" name="radio")
							label(for="check-val3") Патенты РФ (68)
				.action
					a(href="#") Показать
			
			.box-right.boxside-sort-cat
				.bname
					h3 По разделам
				.bcon
					ul
						li.selected
							a(href="#") Авиация и космос (10)
						li
							a(href="#") Безопасность (17)
						li
							a(href="#") Бизнес-консалтинг (1)
						li
							a(href="#") Биотехнологии и медицина (25)
						li
							a(href="#") Власть (31)
						li
							a(href="#") Добыча полезных ископаемых (4)
						li.selected
							a(href="#") ЖКХ (3)
						li
							a(href="#") Бизнес-консалтинг (1)
						li
							a(href="#") Биотехнологии и медицина (25)
						li
							a(href="#") Власть (31)
						li
							a(href="#") Добыча полезных ископаемых (4)
						li.selected
							a(href="#") ЖКХ (3)
						li
							a(href="#") Безопасность (17)
						li
							a(href="#") Бизнес-консалтинг (1)
						li
							a(href="#") Биотехнологии и медицина (25)
						li
							a(href="#") Власть (31)
						li
							a(href="#") Добыча полезных ископаемых (4)
						li.selected
							a(href="#") ЖКХ (3)
						li
							a(href="#") Бизнес-консалтинг (1)
						li
							a(href="#") Биотехнологии и медицина (25)
			//------------------------------------------------
			.box-support
				.bcon
					.item
						a(href="#") 
							img(src="img/content/logo-minprom.png", alt="")
					.item
						a(href="#") 
							img(src="img/content/logo-smr.png", alt="")
					.item
						a(href="#") 
							img(src="img/content/logo-ibs.png", alt="")