//- Шаблон
//------------------------------------------------
extends _layout

//- Загаловок страницы
block title
	| - Обсуждения

 
//- Контент
//------------------------------------------------
block append content
	.main-width.main-wrap
		.pathway
			ul
				li: a(href="#") Обсуждения
		//------------------------------------------------
		.page-name
			h1 Обсуждения
			p Все заведенные темы, которые можно найти по тегам, все последние комментарии, комментарии к разделам и т. д.
		//------------------------------------------------
		.main-left
			.box-articles
				.item-cloud-talks
					.iprev
						.person
							.closed-pic
							.person__img
								a(href="#")
									img(src="img/content/ava-100.jpg", alt="img")
							.person__name 
								a(href="#") Олег Джагупов
							ul.person__info 
								li
									a(href="mailto:Djagupovol@mzmo.ru") Djagupovol@mzmo.ru
							.irating
								ul
									li.star
									li.star
									li.star
									li.star
									li
					.icon
						.cloud
							.iname
								span.closed ЗАКРЫТОЕ ! 
								a(href="#") Решение задач методом анализа размерности
							.itext 
								p Серия мастер-классов для студентов, аспирантов и молодых ученых по изучению метода анализа размерности и решения задач этим методом.
								.tags
									a(href="#").tags-item
										span.name Круглый стол
										span.count 12
						.answer 
							p Обсуждение современные тенденции развития инноваций в сфере торговли основные принципы, функции и инструменты инновационного маркетинга...
						.imeta.imeta_padside
							.left-grey
								| Обновлено 19 октября 2014 в 18:48 
								a(href="#") Константином Заруцким
							.right
								.comments
									a(href="#") 51
								.views
									a(href="#") 225
				.item-cloud-talks
					.iprev
						.person
							.person__img
								a(href="#")
									img(src="img/content/ava-100.jpg", alt="img")
							.person__name 
								a(href="#") Олег Джагупов
							ul.person__info 
								li
									a(href="mailto:Djagupovol@mzmo.ru") Djagupovol@mzmo.ru
							.irating
								ul
									li.star
									li.star
									li.star
									li.star
									li
					.icon
						.cloud
							.iname
								a(href="#") Решение задач методом анализа размерности
							.itext 
								p Серия мастер-классов для студентов, аспирантов и молодых ученых по изучению метода анализа размерности и решения задач этим методом.
								.tags
									a(href="#").tags-item
										span.name Круглый стол
										span.count 12
						.answer 
							p Обсуждение современные тенденции развития инноваций в сфере торговли основные принципы, функции и инструменты инновационного маркетинга...
						.imeta.imeta_padside
							.left-grey
								| Обновлено 19 октября 2014 в 18:48 
								a(href="#") Константином Заруцким
							.right
								.comments
									a(href="#") 51
								.views
									a(href="#") 225
				.item-cloud-talks
					.iprev
						.person
							.closed-pic
							.person__img
								a(href="#")
									img(src="img/content/ava-100.jpg", alt="img")
							.person__name 
								a(href="#") Олег Джагупов
							ul.person__info 
								li
									a(href="mailto:Djagupovol@mzmo.ru") Djagupovol@mzmo.ru
							.irating
								ul
									li.star
									li.star
									li.star
									li.star
									li
					.icon
						.cloud
							.iname
								span.closed ЗАКРЫТОЕ ! 
								a(href="#") Решение задач методом анализа размерности
							.itext 
								p Серия мастер-классов для студентов, аспирантов и молодых ученых по изучению метода анализа размерности и решения задач этим методом.
								.tags
									a(href="#").tags-item
										span.name Круглый стол
										span.count 12
						.answer 
							p Обсуждение современные тенденции развития инноваций в сфере торговли основные принципы, функции и инструменты инновационного маркетинга...
						.imeta.imeta_padside
							.left-grey
								| Обновлено 19 октября 2014 в 18:48 
								a(href="#") Константином Заруцким
							.right
								.comments
									a(href="#") 51
								.views
									a(href="#") 225
				.item-cloud-talks
					.iprev
						.person
							.person__img
								a(href="#")
									img(src="img/content/ava-100.jpg", alt="img")
							.person__name 
								a(href="#") Олег Джагупов
							ul.person__info 
								li
									a(href="mailto:Djagupovol@mzmo.ru") Djagupovol@mzmo.ru
							.irating
								ul
									li.star
									li.star
									li.star
									li.star
									li
					.icon
						.cloud
							.iname
								a(href="#") Решение задач методом анализа размерности
							.itext 
								p Серия мастер-классов для студентов, аспирантов и молодых ученых по изучению метода анализа размерности и решения задач этим методом.
								.tags
									a(href="#").tags-item
										span.name Круглый стол
										span.count 12
						.answer 
							p Обсуждение современные тенденции развития инноваций в сфере торговли основные принципы, функции и инструменты инновационного маркетинга...
						.imeta.imeta_padside
							.left-grey
								| Обновлено 19 октября 2014 в 18:48 
								a(href="#") Константином Заруцким
							.right
								.comments
									a(href="#") 51
								.views
									a(href="#") 225
		//------------------------------------------------
		.main-right
			.box-talks-2.box-right
				.bname
					h3 
						a(href="#") Сейчас обсуждают
				.bcon
					.item
						.iname
							.quot
							.name Трудно получить доступ к работе на этом оборудовании
								.comments
									a(href="#") 51
						.itext Вениамин Ивановский в 13:45 <br>к 
							a(href="#") Станок токарный с ЧПУ 
							| в разделе 
							a(href="#") ОБОРУДОВАНИЕ
					.item
						.iname
							.quot
							.name Серия мастер-классов для студентов, аспирантов и молодых ученых по изучению метода анализа размерности
								.comments
									a(href="#") 51
						.itext Вениамин Ивановский в 13:45 <br>к 
							a(href="#") Станок токарный с ЧПУ 
							| в разделе 
							a(href="#") ОБОРУДОВАНИЕ
					.item
						.iname
							.quot
							.name Трудно получить доступ к работе на этом оборудовании
								.comments
									a(href="#") 51
						.itext Вениамин Ивановский в 13:45 <br>k
							a(href="#")  IX Международная конференция. «Аналитические и численные методы моделирования естественно–научных и социальных проблем» <br>
							| в разделе 
							a(href="#") СОБЫТИЯ
			.box-right.boxside-sort-cat
				.bname
					h3 Области применения
				.bcon
					ul
						li.selected
							a(href="#") Авиация и космос (10)
						li
							a(href="#") Безопасность (17)
						li
							a(href="#") Бизнес-консалтинг (1)
						li
							a(href="#") Биотехнологии и медицина (25)
						li
							a(href="#") Власть (31)
						li
							a(href="#") Добыча полезных ископаемых (4)
						li.selected
							a(href="#") ЖКХ (3)
						li
							a(href="#") Бизнес-консалтинг (1)
						li
							a(href="#") Биотехнологии и медицина (25)
						li
							a(href="#") Власть (31)
						li
							a(href="#") Добыча полезных ископаемых (4)
						li.selected
							a(href="#") ЖКХ (3)
						li
							a(href="#") Безопасность (17)
						li
							a(href="#") Бизнес-консалтинг (1)
						li
							a(href="#") Биотехнологии и медицина (25)
						li
							a(href="#") Власть (31)
						li
							a(href="#") Добыча полезных ископаемых (4)
						li.selected
							a(href="#") ЖКХ (3)
						li
							a(href="#") Бизнес-консалтинг (1)
						li
							a(href="#") Биотехнологии и медицина (25)
			//------------------------------------------------
			.box-support
				.bcon
					.item
						a(href="#") 
							img(src="img/content/logo-minprom.png", alt="")
					.item
						a(href="#") 
							img(src="img/content/logo-smr.png", alt="")
					.item
						a(href="#") 
							img(src="img/content/logo-ibs.png", alt="")