//- Шаблон
//------------------------------------------------
extends _layout

//- Загаловок страницы
block title
	| - Документ
	
block scripts
	script(src="js/jquery.supercal.js", type="text/javascript")


//- Контент
//------------------------------------------------
block append content
	.main-width.main-wrap
		.pathway
			ul
				li.nound
					a(href="#") Информация
				li.sep >
				li
					a(href="#") Рынок услуг
		//------------------------------------------------
		.main-left
			.box-doc-item
				.bmeta
					.date 19 сентября 2014 года
					.views 2726
				.bname
					h1 Свидетельство о государственной регистрации программы для ЭВМ
					p № 2013610190 от 09.01.2013
				.bcon.bcon-text-style
					img(src="img/content/patent.jpg", alt="")
		//------------------------------------------------
		.main-right
			.box-simular-docs.box-right
				.bname
					h3 Похожие документы
				.bcon
					.item
						.idate Добавлен 19 сентября 2014
						.iname
							a(href="#") Свидетельство о государственной регистрации программы для ЭВМ № 2013610190 от 09.01.2013 (заявка № 2012619800).
						.isubtext Аспирант Назимов Алексей Игоревич, физический факультет, 2 год обучения
					.item
						.idate Добавлен 19 сентября 2014
						.iname
							a(href="#") Свидетельство о государственной регистрации программы для ЭВМ № 2013610190 от 09.01.2013 (заявка № 2012619800).
						.isubtext Аспирант Назимов Алексей Игоревич, физический факультет, 2 год обучения
					.item
						.idate Добавлен 19 сентября 2014
						.iname
							a(href="#") Свидетельство о государственной регистрации программы для ЭВМ № 2013610190 от 09.01.2013 (заявка № 2012619800).
						.isubtext Аспирант Назимов Алексей Игоревич, физический факультет, 2 год обучения
					.item
						.idate Добавлен 19 сентября 2014
						.iname
							a(href="#") Свидетельство о государственной регистрации программы для ЭВМ № 2013610190 от 09.01.2013 (заявка № 2012619800).
						.isubtext Аспирант Назимов Алексей Игоревич, физический факультет, 2 год обучения
				.ball
					a(href="#") Все документы
			//------------------------------------------------
			.box-support
				.bcon
					.item
						a(href="#") 
							img(src="img/content/logo-minprom.png", alt="")
					.item
						a(href="#") 
							img(src="img/content/logo-smr.png", alt="")
					.item
						a(href="#") 
							img(src="img/content/logo-ibs.png", alt="")