//- Шаблон
//------------------------------------------------
extends _layout

//- Загаловок страницы
block title
	| - Документы
	
block styles
	link(href="css/jquery.datetimepicker.css", rel="stylesheet")
block scripts
	script(src="js/jquery.datetimepicker.js", type="text/javascript")
 
//- Контент
//------------------------------------------------
block append content
	.main-width.main-wrap
		.pathway
			ul
				li.nound
					a(href="#") Информация
				li.sep >
				li
					a(href="#") Рынок услуг
		//------------------------------------------------
		.page-name
			h1 Документы
			p Свидетельства о государственной регистрации и патенты
		//------------------------------------------------
		
		.main-left
			.box-docs
				.item
					.file-list
						a(href="#") JPG - 7 Мб
						a(href="#") PDF - 12 Мб
					.file-desc
						.date Добавлен: 13 октября 2012
						.text Свидетельство о государственной регистрации программы для ЭВМ № 2013610190 от 09.01.2013 (заявка № 2012619800).
						.subtext Аспирант Назимов Алексей Игоревич, физический факультет, 2 год обучения
						.tags
							a(href="#").tags-item
								span.name Выставки
								span.count 12
							a(href="#").tags-item
								span.name Машиностроение
								span.count.empty
				.item
					.file-list
						a(href="#") JPG - 7 Мб
						a(href="#") PDF - 12 Мб
					.file-desc
						.date Добавлен: 13 октября 2012
						.text Свидетельство о государственной регистрации программы для ЭВМ № 2013610190 от 09.01.2013 (заявка № 2012619800).
						.subtext Аспирант Назимов Алексей Игоревич, физический факультет, 2 год обучения
						.tags
							a(href="#").tags-item
								span.name Выставки
								span.count 12
							a(href="#").tags-item
								span.name Машиностроение
								span.count.empty
				.item
					.file-list
						a(href="#") JPG - 7 Мб
						a(href="#") PDF - 12 Мб
					.file-desc
						.date Добавлен: 13 октября 2012
						.text Свидетельство о государственной регистрации программы для ЭВМ № 2013610190 от 09.01.2013 (заявка № 2012619800).
						.subtext Аспирант Назимов Алексей Игоревич, физический факультет, 2 год обучения
						.tags
							a(href="#").tags-item
								span.name Выставки
								span.count 12
							a(href="#").tags-item
								span.name Машиностроение
								span.count.empty
				.item
					.file-list
						a(href="#") JPG - 7 Мб
						a(href="#") PDF - 12 Мб
					.file-desc
						.date Добавлен: 13 октября 2012
						.text Свидетельство о государственной регистрации программы для ЭВМ № 2013610190 от 09.01.2013 (заявка № 2012619800).
						.subtext Аспирант Назимов Алексей Игоревич, физический факультет, 2 год обучения
						
				.item
					.file-list
						a(href="#") JPG - 7 Мб
						a(href="#") PDF - 12 Мб
					.file-desc
						.date Добавлен: 13 октября 2012
						.text Свидетельство о государственной регистрации программы для ЭВМ № 2013610190 от 09.01.2013 (заявка № 2012619800).
						.subtext Аспирант Назимов Алексей Игоревич, физический факультет, 2 год обучения
						.tags
							a(href="#").tags-item
								span.name Выставки
								span.count 12
							a(href="#").tags-item
								span.name Машиностроение
								span.count.empty
				.item
					.file-list
						a(href="#") JPG - 7 Мб
						a(href="#") PDF - 12 Мб
					.file-desc
						.date Добавлен: 13 октября 2012
						.text Свидетельство о государственной регистрации программы для ЭВМ № 2013610190 от 09.01.2013 (заявка № 2012619800).
						.subtext Аспирант Назимов Алексей Игоревич, физический факультет, 2 год обучения
						.tags
							a(href="#").tags-item
								span.name Выставки
								span.count 12
							a(href="#").tags-item
								span.name Машиностроение
								span.count.empty
				.item
					.file-list
						a(href="#") JPG - 7 Мб
						a(href="#") PDF - 12 Мб
					.file-desc
						.date Добавлен: 13 октября 2012
						.text Свидетельство о государственной регистрации программы для ЭВМ № 2013610190 от 09.01.2013 (заявка № 2012619800).
						.subtext Аспирант Назимов Алексей Игоревич, физический факультет, 2 год обучения
						.tags
							a(href="#").tags-item
								span.name Выставки
								span.count 12
							a(href="#").tags-item
								span.name Машиностроение
								span.count.empty
				.item
					.file-list
						a(href="#") JPG - 7 Мб
						a(href="#") PDF - 12 Мб
					.file-desc
						.date Добавлен: 13 октября 2012
						.text Свидетельство о государственной регистрации программы для ЭВМ № 2013610190 от 09.01.2013 (заявка № 2012619800).
						.subtext Аспирант Назимов Алексей Игоревич, физический факультет, 2 год обучения
						.tags
							a(href="#").tags-item
								span.name Выставки
								span.count 12
							a(href="#").tags-item
								span.name Машиностроение
								span.count.empty
		//------------------------------------------------
		.main-right
			.box-sort-docs.box-right
				.bname
					h3 Показать документы
				.bcon
					.dates
						.legend c датой публикации
						.line
							.td
								span от
							.td
								input(type="text", placeholder="дата от").js-calendar-widget.calendar-widget-pop
							.td
								a(href="#").js-open-cal.cal
						.line
							.td
								span до
							.td
								input(type="text", placeholder="дата до").js-calendar-widget.calendar-widget-pop2
							.td
								a(href="#").js-open-cal.cal
					.checks
						.legend Относятся к разделу
						.line
							input(id="check-val2" type="checkbox" name="radio")
							label(for="check-val2") Свидетельства о регистрации (243)
						.line
							input(id="check-val3" type="checkbox" name="radio")
							label(for="check-val3") Патенты РФ (68)
				.action
					a(href="#") Показать
			//------------------------------------------------
			.box-support
				.bcon
					.item
						a(href="#") 
							img(src="img/content/logo-minprom.png", alt="")
					.item
						a(href="#") 
							img(src="img/content/logo-smr.png", alt="")
					.item
						a(href="#") 
							img(src="img/content/logo-ibs.png", alt="")