extends _layout
 
//------------------------------------------------
block append content
	.main-width.main-wrap
		.pathway
			ul
				li: a(href="#") Рынок услуг
				li >
				li Оборудование
		//------------------------------------------------
		.page-name
			h1 Оборудование
		//------------------------------------------------
		.main-left
			.search-con
				form(action="#")
					input(type="text", placeholder="Быстрый поиск по услугам").inp-text
					input(type="submit", value="").inp-submit
			mixin article(name)
				.item-edit-con.item-edit-con_pad.js-edit-item-box
					.articles__item
						.articles__item-thumb
							img(src="img/content/edit-page/1.png", alt="")
						.articles__item-info
							.articles__item-date-added Добавлен: 13 октября 2012
							.articles__item-title #{name}
							.imeta.articles__item-stats
								.comments
									a(href='#') 51
								.views
									a(href='#') 225
						ul.articles__item-controls.articles__item-controls_pad.inline
							li.articles__item-controls-edit.js-edit-link
							li.articles__item-controls-delete
					//---------- 
					.articles__edit.js-edit-item
						form(action="#").block
							.formgroup.articles__edit-title
								label Заголовок
								textarea #{name}
							.formgroup.articles__edit-lead
								label Лид
								textarea В пригороде Ростова-на-Дону, в районе аэродрома Батайск, будет создан вертолетный кластер. Он включит в себя летно-испытательный комплекс, сборочное производство вертолетов типа Ми-26, Ми-28, Ми-35 и перспективного среднего вертолета, а также центр по производству композитных лопастей и целый ряд других подразделений. О проекте пишет «Российская газета».
							.formgroup.articles__edit-text
								label Текст
								.summernote 
									p Участники совещания обсудили ход подготовки к ВИИФ-2014, основные мероприятия программы российского участия в выставке, а также формирование экспозиции. ВИИФ-2014 является крупнейшей многоотраслевой выставкой в Юго-Восточной Азии и проводится ежегодно Вьетнамским выставочно-ярмарочным центром VEFAC при поддержке правительства Социалистической Республики Вьетнам. Участие России в выставке направлено на развитие и укрепление торгово-экономических связей между Россией и Вьетнамом. 
									p Это позволит расширить инвестиционное сотрудничество по приоритетным направлениям, среди которых нефтегазовая отрасль, энергетика, добыча полезных ископаемых, туристическая недвижимость и другие сферы. Кроме этого, участие в выставке способствует расширению сотрудничества в сфере промышленного производства, увеличению объема экспорта, диверсификации форм и направлений международного экономического сотрудничества. Программа мероприятий российской экспозиции включает Российско-Вьетнамский бизнес-форум, тематические круглые столы, презентации компаний-экспонентов, двусторонние встречи с представителями официальных, деловых и финансовых кругов, посещение крупнейших государственных корпораций и объединений, самой большой промышленной зоны Северного Вьетнама Thang Long и технопарка высоких технологий. 
									ul
										li Lorem ipsum dolor sit.
										li Cum consequatur, quae eveniet.
										li Quisquam qui ab, sint.
										li Molestiae excepturi, vel earum.
										li Quaerat nostrum voluptas dolores.
										li Obcaecati unde ab vel!
							.formgroup.articles__edit-images
								label Изображение
								ul.articles__edit-images-list.inline
									li.articles__edit-images-list-item
										img(src="img/content/edit-page/1.png", alt="")
										.articles__edit-images-list-item--edit
									li.articles__edit-images-list-item
										img(src="img/content/edit-page/1.png", alt="")
										.articles__edit-images-list-item--edit
									li.articles__edit-images-list-item
										img(src="img/content/edit-page/1.png", alt="")
										.articles__edit-images-list-item--edit
									li.articles__edit-images-list-item
										img(src="img/content/edit-page/1.png", alt="")
										.articles__edit-images-list-item--edit
									li.articles__edit-images-list-item--add
										.articles__edit-images-list-item--add-icon
										.articles__edit-images-list-item--add-text добавить изображение
								a(href="#").btn-orange-wide.edit-save Сохранить
			
			//---------- ----------

			.articles
				+article("Короткое название")
				+article("ВИИФ-2014 является крупнейшей многоотраслевой выставкой")
				+article("ВИИФ-2014", "nopic")
				+article("Lorem ipsum.")
				+article("Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum rem, vitae culpa consectetur vero odit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur fuga cumque rem aliquam fugiat, qui esse iste ab dicta sunt, a incidunt non magnam, adipisci, voluptates. Porro beatae veniam dolor.")
			
		//------------------------------------------------
		.main-right