//- Шаблон
//------------------------------------------------
extends _layout

//- Загаловок страницы
block title
	| - Оборудование
	
block scripts
 
 
//- Контент
//------------------------------------------------
block append content
	.main-width.main-wrap
		.pathway
			ul
				li: a(href="#") События
				li >
				li: a(href="#") ОБОРУДОВАНИЕ
				li >
				li Станок токарный с ЧПУ
		//------------------------------------------------
		.main-left
			.box-text-item
				.bmeta
					.date 19 сентября 2014 года
					.comments
						a(href="#") 61
					.views 2726
				.bcon.bcon-text-style
					.event-item.mar-bot-30
						.icon
							h1.service-title Станок токарный с ЧПУ
							.irating.mar-bot-10.irating-service
								span DELTAMAB 400
								ul
									li.star
									li.star
									li.star
									li.star
									li
							.tags
								a(href="#").tags-item
									span.name Машиностроение
									span.count.empty
								a(href="#").tags-item
									span.name Металлообработка
									span.count 388
						.iprev
							img(src="img/content/equip-1.jpg", alt="")
					p.grey-without-strong
						strong Назначение <br>
						| Изготовление деталей типа тел вращения
					p.grey-without-strong
						strong Описание <br>
						| Прецизионный токарный станок с ЧПУ выполнен по прогрессивной схеме компоновки с расположением револьверной головки на наклонных направляющих, что увеличивает жесткость конструкции, позволяет уменьшить размеры станка по ширине и оптимально распределить по направляющим нагрузки, образующиеся в процессе резания.
					p.grey-without-strong
						strong Основные характеристики <br>
						| Наибольший диаметр обрабатываемого изделия – 600 мм <br>Число управляемых координат – 2
					p.grey-without-strong
						strong Год выпуска: 
						| 2012
					p.grey-without-strong
						strong Производитель:
						| SOMAB, Франция
					p.grey-without-strong
						strong Организация (ВУЗ / ГНЦ): 
						| Национальный исследовательский Томский политехнический университет
				.order-service-cont
					a(href="#").btn-orange.inline Заказать
					a(href="#").btn-grey-dashed.js-show-contacts Показать контакты
					.contacts.js-contacts-box
						span.phone +7 495 675 87 98
						span.email
							a(href="#") email@email.com

				.bmetabot
					.share
						span Поделиться
						ul
							li.vk
								a(href="#")
							li.fb
								a(href="#")
							li.tw
								a(href="#")
							li.in
								a(href="#")
					.comments-count
						a(href="#").btn-grey 19 комментариев
				.box-interest
					.bname
						h3 Похожее оборудование
					.bcon
						.box-articles.m-mod
							.item
								.iprev
									img(src="img/content/equip-1.jpg", alt="")
								.icon
									.iname
										a(href="#") Станок токарный с ЧПУ
									.irating.mar-bot-10
										span DELTAMAB 400
										ul
											li.star
											li.star
											li.star
											li
											li
									.itext.lh-small
										p Изготовление деталей типа тел вращения
										p 
											strong.reg-black Организация (ВУЗ / ГНЦ): 
											| ООО «Лаборатории АМФОРА»
									.tags
										a(href="#").tags-item
											span.name Выставки
											span.count 12
										a(href="#").tags-item
											span.name Машиностроение
											span.count.empty
									.order-service
										a(href="#").btn-orange Заказать
									.imeta
										.right.mar-top-20m
											.comments
												a(href="#") 51
											.views
												a(href="#") 225
							.item
								.iprev
									img(src="img/content/equip-2.jpg", alt="")
								.icon
									.iname
										a(href="#") Станок токарный с ЧПУ
									.irating.mar-bot-10
										span DELTAMAB 400
										ul
											li.star
											li.star
											li.star
											li
											li
									.itext.lh-small
										p Изготовление деталей типа тел вращения
										p 
											strong.reg-black Организация (ВУЗ / ГНЦ): 
											| ООО «Лаборатории АМФОРА»
									.tags
										a(href="#").tags-item
											span.name Выставки
											span.count 12
										a(href="#").tags-item
											span.name Машиностроение
											span.count.empty
									.order-service
										a(href="#").btn-orange Заказать
									.imeta
										.right.mar-top-20m
											.comments
												a(href="#") 51
											.views
												a(href="#") 225
				.box-comments
					.bwrite
						.bname
							h3 Обсуждаем станок токарный с чпу
							a(href="#enter-popup") Войти
						.bcon
							.ava
								img(src="img/ava.png", alt="")
							.text
								textarea(placeholder="")
							.action
								a(href="#").btn-orange Оставить комментарий
					.bcomments
						.comment
							.cprev
								a(href="#") 
									img(src="img/content/ava-2.jpg", alt="")
							.ccon
								.name
									a(href="#") Konrad Karlovich
									.date 1 час назад
								.text Я эту штуку не куплю. Работаю с Microsoft Office -- он умнее, чем я.
								.answer
									a(href="#") Ответить
							.comment
								.cprev
									a(href="#") 
										img(src="img/content/ava-2.jpg", alt="")
								.ccon
									.name
										a(href="#") Konrad Karlovich
										.pep 
											|  > 
											a(href="#") Влодко Чорный
										.date 1 час назад
									.text Кто вам сказал, что Surface 2 провал? Вполне нормально берут, конкурентов с таким функционалом просто нет в этом сегменте.
									.answer
										a(href="#") Ответить
								.comment
									.cprev
										a(href="#") 
											img(src="img/ava.png", alt="")
									.ccon
										.name
											a(href="#") Konrad Karlovich
											.date 1 час назад
										.text Из всего перечня именитых контор Мелкомягкие дали фору абсолютно всем, посмотрели на представленный продукт.
										.answer
											a(href="#") Ответить
									.comment
										.cprev
											a(href="#") 
												img(src="img/content/ava-1.png", alt="")
										.ccon
											.name
												a(href="#") Konrad Karlovich
												.date 1 час назад
											.text Кто вам сказал, что Surface 2 провал? Вполне нормально берут, конкурентов с таким функционалом просто нет в этом сегменте.
											.answer
												a(href="#") Ответить
						.comment
							.cprev
								a(href="#") 
									img(src="img/ava.png", alt="")
							.ccon
								.name
									a(href="#") Konrad Karlovich
									.date 1 час назад
								.text Из всего перечня именитых контор Мелкомягкие дали фору абсолютно всем, посмотрели на представленный продукт.
								.answer
									a(href="#") Ответить
						.comment
							.cprev
								a(href="#") 
									img(src="img/content/ava-1.png", alt="")
							.ccon
								.name
									a(href="#") Konrad Karlovich
									.date 1 час назад
								.text Кто вам сказал, что Surface 2 провал? Вполне нормально берут, конкурентов с таким функционалом просто нет в этом сегменте.
								.answer
									a(href="#") Ответить
		//------------------------------------------`------
		.main-right
			.box-right.boxside-sort-cat
				.bname
					h3 
						a(href="#") ОБЛАСТИ ПРИМЕНЕНИЯ
				.bcon
					ul
						li.selected
							a(href="#") Авиация и космос (10)
						li
							a(href="#") Безопасность (17)
						li
							a(href="#") Бизнес-консалтинг (1)
						li
							a(href="#") Биотехнологии и медицина (25)
						li
							a(href="#") Власть (31)
						li
							a(href="#") Добыча полезных ископаемых (4)
						li.selected
							a(href="#") ЖКХ (3)
						li
							a(href="#") Бизнес-консалтинг (1)
						li
							a(href="#") Биотехнологии и медицина (25)
						li
							a(href="#") Власть (31)
						li
							a(href="#") Добыча полезных ископаемых (4)
						li.selected
							a(href="#") ЖКХ (3)
						li
							a(href="#") Безопасность (17)
						li
							a(href="#") Бизнес-консалтинг (1)
						li
							a(href="#") Биотехнологии и медицина (25)
						li
							a(href="#") Власть (31)
						li
							a(href="#") Добыча полезных ископаемых (4)
						li.selected
							a(href="#") ЖКХ (3)
						li
							a(href="#") Бизнес-консалтинг (1)
						li
							a(href="#") Биотехнологии и медицина (25)
			//------------------------------------------------
			.box-support
				.bcon
					.item
						a(href="#") 
							img(src="img/content/logo-minprom.png", alt="")
					.item
						a(href="#") 
							img(src="img/content/logo-smr.png", alt="")
					.item
						a(href="#") 
							img(src="img/content/logo-ibs.png", alt="")