//- Шаблон
//------------------------------------------------
extends _layout

//- Загаловок страницы
block title
	| - События
	
block scripts
	script(src="js/jquery.supercal.js", type="text/javascript")
 
 
//- Контент
//------------------------------------------------
block append content
	.main-width.main-wrap
		.pathway
			ul
				li
					a(href="#") События
		//------------------------------------------------
		.page-name
			h1 События
			p События на тему строительства промышленных и иных объектов
		//------------------------------------------------
		.main-left
			.box-articles.box-orange.mar-bot-20
				.item
					.iprev
						img(src="img/content/180-135-1.jpg", alt="")
					.icon
						.iname
							a(href="#") Состояние науки российской федерации
						.itext Взлет строителя сетей связи «Инфра инжиниринг» хорошо показывает, что такое история успеха в России. Основные активы «Инфра» получила от компании, возможно связанной с бывшим министром связи, а основные заказы — от госхолдинга, в котором работали приятели
						.imore 
							a(href="#") Читать полностью
						.tags
							a(href="#").tags-item
								span.name Выставки
								span.count 12
						.adsress-date
							.ad-adsress Москва, ул. Сиреневый бульвар, д.4
							.ad-date 27, 28 октября - с 14.00 до 16.00, <br>29, 30 октября - с 10.00 до 12.00
						.imeta
							.right.mar-top-20m
								.comments
									a(href="#") 51
								.views
									a(href="#") 225
				.item
					.iprev
						img(src="img/content/180-135-2.jpg", alt="")
					.icon
						.iname
							a(href="#") Модернизация КРУ и КСО
						.itext Взлет строителя сетей связи «Инфра инжиниринг» хорошо показывает, что такое история успеха в России. Основные активы «Инфра» получила от компании, возможно связанной с бывшим министром связи, а основные заказы — от госхолдинга, в котором работали приятели
						.imore 
							a(href="#") Читать полностью
						.tags
							a(href="#").tags-item
								span.name Круглый стол
								span.count.empty
						.adsress-date
							.ad-adsress Москва, ул. Сиреневый бульвар, д.4
							.ad-date 27, 28 октября - с 14.00 до 16.00, <br>29, 30 октября - с 10.00 до 12.00
						.imeta
							.right.mar-top-20m
								.comments
									a(href="#") 51
								.views
									a(href="#") 225
			.box-articles
				.bname
					h3 Ближайшие события
				.item
					.iprev
						img(src="img/content/180-135-1.jpg", alt="")
					.icon
						.iname
							a(href="#") Состояние науки российской федерации
						.itext Взлет строителя сетей связи «Инфра инжиниринг» хорошо показывает, что такое история успеха в России. Основные активы «Инфра» получила от компании, возможно связанной с бывшим министром связи, а основные заказы — от госхолдинга, в котором работали приятели
						.imore 
							a(href="#") Читать полностью
						.tags
							a(href="#").tags-item
								span.name Круглый стол
								span.count.empty
						.adsress-date
							.ad-adsress Москва, ул. Сиреневый бульвар, д.4
							.ad-date 27, 28 октября - с 14.00 до 16.00, <br>29, 30 октября - с 10.00 до 12.00
						.imeta
							.right.mar-top-20m
								.comments
									a(href="#") 51
								.views
									a(href="#") 225
				.item
					.iprev
						img(src="img/content/180-135-2.jpg", alt="")
					.icon
						.iname
							a(href="#") Модернизация КРУ и КСО
						.itext Взлет строителя сетей связи «Инфра инжиниринг» хорошо показывает, что такое история успеха в России. Основные активы «Инфра» получила от компании, возможно связанной с бывшим министром связи, а основные заказы — от госхолдинга, в котором работали приятели
						.imore 
							a(href="#") Читать полностью
						.tags
							a(href="#").tags-item
								span.name Круглый стол
								span.count.empty
						.adsress-date
							.ad-adsress Москва, ул. Сиреневый бульвар, д.4
							.ad-date 27, 28 октября - с 14.00 до 16.00, <br>29, 30 октября - с 10.00 до 12.00
						.imeta
							.right.mar-top-20m
								.comments
									a(href="#") 51
								.views
									a(href="#") 225
				.item
					.iprev
						img(src="img/content/180-135-1.jpg", alt="")
					.icon
						.iname
							a(href="#") Состояние науки российской федерации
						.itext Взлет строителя сетей связи «Инфра инжиниринг» хорошо показывает, что такое история успеха в России. Основные активы «Инфра» получила от компании, возможно связанной с бывшим министром связи, а основные заказы — от госхолдинга, в котором работали приятели
						.imore 
							a(href="#") Читать полностью
						.tags
							a(href="#").tags-item
								span.name Мастер-класс
								span.count 43
						.adsress-date
							.ad-adsress Москва, ул. Сиреневый бульвар, д.4
							.ad-date 27, 28 октября - с 14.00 до 16.00, <br>29, 30 октября - с 10.00 до 12.00
						.imeta
							.right.mar-top-20m
								.comments
									a(href="#") 51
								.views
									a(href="#") 225
				.item
					.iprev
						img(src="img/content/180-135-1.jpg", alt="")
					.icon
						.iname
							a(href="#") Состояние науки российской федерации
						.itext Взлет строителя сетей связи «Инфра инжиниринг» хорошо показывает, что такое история успеха в России. Основные активы «Инфра» получила от компании, возможно связанной с бывшим министром связи, а основные заказы — от госхолдинга, в котором работали приятели
						.imore 
							a(href="#") Читать полностью
						.tags
							a(href="#").tags-item
								span.name Круглый стол
								span.count.empty
						.adsress-date
							.ad-adsress Москва, ул. Сиреневый бульвар, д.4
							.ad-date 27, 28 октября - с 14.00 до 16.00, <br>29, 30 октября - с 10.00 до 12.00
						.imeta
							.right.mar-top-20m
								.comments
									a(href="#") 51
								.views
									a(href="#") 225
		//------------------------------------------`------
		.main-right
			.box-sort-docs.box-right
				.bname
					h3 Показать события
				.bcon
					.dates
						.legend С Датой проведения
						.line
							.td
								span от
							.td
								input(type="text", placeholder="дата от")
							.td
								.calendar-widget-pop
									a(href="#").cal
						.line
							.td
								span до
							.td
								input(type="text", placeholder="дата до")
							.td
								.calendar-widget-pop
									a(href="#").cal
					.checks
						.legend Тип мероприятия
						.line
							input(id="check-val2" type="checkbox" name="radio")
							label(for="check-val2") Конференция
						.line
							input(id="check-val3" type="checkbox" name="radio")
							label(for="check-val3") Мастер-класс
					.checks
						.legend В городе
						.line
							input(id="check-val4" type="checkbox" name="radio")
							label(for="check-val4") Москва
						.line
							input(id="check-val5" type="checkbox" name="radio")
							label(for="check-val5") Пермь
				.action
					a(href="#") Показать
			//------------------------------------------------
			.box-support
				.bcon
					.item
						a(href="#") 
							img(src="img/content/logo-minprom.png", alt="")
					.item
						a(href="#") 
							img(src="img/content/logo-smr.png", alt="")
					.item
						a(href="#") 
							img(src="img/content/logo-ibs.png", alt="")