extends _layout


block append content
	.main-width.main-wrap
		.pathway
			ul
				li: a(href="#") Системообразующие предприятия

		.page-name
			h1 Системообразующие предприятия

		.main-full
			.search-con
				form(action="#")
					input(type="text", placeholder="Быстрый поиск по предприятиям").inp-text
					input(type="submit", value="").inp-submit
			
			.box-articles				
				mixin item(name, pic, rating)
					.item-3col
						.iprev
							img(src="img/content/#{pic}", alt="")
						.icon
							.iname
								a(href="#")= name
							a(href="#").feedback_big Связаться				
				+item("ЗАО «Научно-производственный центр “Модуль”»", "120-85-2.jpg", "75")
				+item("Санкт-Петербургский государственный университет аэрокосмического приборостроения", "120-85-1.jpg", "91")
				+item("ООО «Лаборатории АМФОРА»", "120-85-2.jpg", "64")
				+item("ЗАО «Гражданские самолеты Сухого»", "120-85-2.jpg", "75")
				+item("Санкт-Петербургский государственный университет аэрокосмического приборостроения", "120-85-1.jpg", "91")

			+logo-bottom