//- Шаблон
//------------------------------------------------
extends _layout

//- Загаловок страницы
block title
	| - Документы
 
//- Контент
//------------------------------------------------
block append content
	.main-width.main-wrap
		.pathway
			ul
				li.nound
					a(href="#") Информация
				li.sep >
				li
					a(href="#") Рынок услуг
		//------------------------------------------------
		.page-name
			h1 Информация
			p Новости, аналитические статьи и истории успеха
		//------------------------------------------------
		.main-left
			.box-news-prev-cat.mar-bot-30
				.bcat
					a(href="#") Новости				
				.bcon.bcon-text-style
					.photo-desc-box-grey
						.pdb-left
							img(src="img/content/slider-1.jpg", alt="").full
						.pdb-right
							p Сборочное производство вертолетов типа Ми-26, Ми-28, Ми-35
							p.photo-desc Фото: Павел Птицын
					h2 Россия и Вьетнам проведут двусторонние встречи на ВИИФ-2014
					p.date 19 сентября 2014 года
					p.grey 
						i В пригороде Ростова-на-Дону, в районе аэродрома Батайск, будет создан вертолетный кластер. Он включит в себя летно-испытательный комплекс, сборочное производство вертолетов типа Ми-26, Ми-28, Ми-35 и перспективного среднего вертолета, а также центр по производству композитных лопастей и целый ряд других подразделений. О проекте пишет «Российская газета».
					p В рамках «Гидроавиасалона-2014», который прошел в Геленджике, Минпромторгом, корпорацией Ростех и правительством Ростовской области был подписан меморандум о реализации инвестпроекта.
					p «Мы договорились о выделении участка зем ли на базе территории воинской части. Минобороны согласилось передать аэродром в эксплуатацию Ростеху, «Вертолетам России», — пояснил глава Минпромторга Денис Мантуров.
				.bmeta.bot
					.more
						a(href="#") Читать полностью
					.right
						.comments
							a(href="#") 51
						.views
							a(href="#") 225
			//------------------------------------------------
			.box-news-prev-cat.mar-bot-30
				.bcat
					a(href="#") Истории успеха		
				.bcon.bcon-text-style
					.photo-desc-box-grey
						.pdb-left
							img(src="img/content/640-360-1.jpg", alt="").full
						.pdb-right
							p Взлет «Инфра инжиниринг» показывает, что такое история успеха в России
							p.photo-desc Фото: Павел Птицын
					h2 Взлет «Инфра инжиниринг» показывает, что такое история успеха в России
					p.date 19 сентября 2014 года
					p.grey 
						i В пригороде Ростова-на-Дону, в районе аэродрома Батайск, будет создан вертолетный кластер. Он включит в себя летно-испытательный комплекс, сборочное производство вертолетов типа Ми-26, Ми-28, Ми-35 и перспективного среднего вертолета, а также центр по производству композитных лопастей и целый ряд других подразделений. О проекте пишет «Российская газета».
					p В рамках «Гидроавиасалона-2014», который прошел в Геленджике, Минпромторгом, корпорацией Ростех и правительством Ростовской области был подписан меморандум о реализации инвестпроекта.
					p «Мы договорились о выделении участка зем ли на базе территории воинской части. Минобороны согласилось передать аэродром в эксплуатацию Ростеху, «Вертолетам России», — пояснил глава Минпромторга Денис Мантуров.
					p Стимул, как справедливо считает Ф.Энгельс, зеркально отчуждает понимающий контраст. Аутизм неустойчив. Поведенческая терапия понимает объект. Эгоцентризм аннигилирует интеракционизм, что вызвало развитие функционализма и сравнительно-психологических исследований поведения. Выготский разработал, ориентируясь на методологию марксизма, учение которое утверждает что, воспитание потенциально.
					p Гетерогенность вызывает индивидуальный код, что отмечают такие крупнейшие ученые как Фрейд, Адлер, Юнг, Эриксон, Фромм. Чем больше люди узнают друг друга, тем больше индивидуальность осознаёт феноменологический онтогенез речи. Сознание иллюстрирует опасный кризис.
					p swal
					script(type="text/javascript").
						$(document).ready(function() {
							setTimeout(function() {
								swal({
									title: "Раздел в разработке!",
									text: "",
									type: "info",
									confirmButtonText: "Закрыть"
								});
							}, 1000);
						});

				.bmeta.bot
					.more
						a(href="#") Читать полностью
					.right
						.comments
							a(href="#") 51
						.views
							a(href="#") 225
			//------------------------------------------------
			.box-articles.mar-bot-30
				.bcat
					a(href="#") Аналитические статьи
				.item
					.iprev
						img(src="img/content/180-135-1.jpg", alt="")
					.icon
						.iname
							a(href="#") Состояние науки российской федерации
						.itext Взлет строителя сетей связи «Инфра инжиниринг» хорошо показывает, что такое история успеха в России. Основные активы «Инфра» получила от компании, возможно связанной с бывшим министром связи, а основные заказы — от госхолдинга, в котором работали приятели
						.imore 
							a(href="#") Читать полностью
						.imeta
							.date 10 сентября 2014
							.right
								.comments
									a(href="#") 51
								.views
									a(href="#") 225
				.item
					.iprev
						img(src="img/content/180-135-2.jpg", alt="")
					.icon
						.iname
							a(href="#") Модернизация КРУ и КСО
						.itext Взлет строителя сетей связи «Инфра инжиниринг» хорошо показывает, что такое история успеха в России. Основные активы «Инфра» получила от компании, возможно связанной с бывшим министром связи, а основные заказы — от госхолдинга, в котором работали приятели
						.imore 
							a(href="#") Читать полностью
						.imeta
							.date 10 сентября 2014
							.right
								.comments
									a(href="#") 51
								.views
									a(href="#") 225
				.item
					.iprev
						img(src="img/content/180-135-1.jpg", alt="")
					.icon
						.iname
							a(href="#") Состояние науки российской федерации
						.itext Взлет строителя сетей связи «Инфра инжиниринг» хорошо показывает, что такое история успеха в России. Основные активы «Инфра» получила от компании, возможно связанной с бывшим министром связи, а основные заказы — от госхолдинга, в котором работали приятели
						.imore 
							a(href="#") Читать полностью
						.imeta
							.date 10 сентября 2014
							.right
								.comments
									a(href="#") 51
								.views
									a(href="#") 225
				.item
					.iprev
						img(src="img/content/180-135-1.jpg", alt="")
					.icon
						.iname
							a(href="#") Состояние науки российской федерации
						.itext Взлет строителя сетей связи «Инфра инжиниринг» хорошо показывает, что такое история успеха в России. Основные активы «Инфра» получила от компании, возможно связанной с бывшим министром связи, а основные заказы — от госхолдинга, в котором работали приятели
						.imore 
							a(href="#") Читать полностью
						.imeta
							.date 10 сентября 2014
							.right
								.comments
									a(href="#") 51
								.views
									a(href="#") 225
		//------------------------------------------------
		.main-right
			.box-news.box-right
				.bname
					h3 
						a(href="#") Главное за неделю
				.bcon
					.item
						.idate 30 Сентября
						.iname 
							a(href="#") Ученые объяснили смертельную опасность ветряных турбин для летучих мышей
						.imeta
							.comments
								a(href="#") 51
							.views
								a(href="#") 225
					.item
						.idate 30 Сентября
						.iname 
							a(href="#") Текстильный импортозамещающий комплекс появится в Ростовской области
						.imeta
							.comments
								a(href="#") 51
							.views
								a(href="#") 225
					.item
						.idate 30 Сентября
						.iname 
							a(href="#") Ученые объяснили смертельную 
						.imeta
							.comments
								a(href="#") 51
							.views
								a(href="#") 225
					.item
						.idate 30 Сентября
						.iname 
							a(href="#") Ученые объяснили смертельную опасность ветряных турбин для летучих мышей
						.imeta
							.comments
								a(href="#") 51
							.views
								a(href="#") 225
				.ball
					a(href="#") Все новости
			//------------------------------------------------
			.box-right.boxside-news-grey
				.bname
					h3
						a(href="#") Другие новости
				.bcon
					.item
						.iprev
							a(href="#") 
								img(src="img/content/220-160-1.jpg", alt="")
						.icon
							.idate 10 сентября 2014
							.iname
								a(href="#") Состояние науки российской федерации
							.imeta
								.comments
									a(href="#") 51
								.views
									a(href="#") 225
					.item
						.iprev
							a(href="#") 
								img(src="img/content/220-160-2.jpg", alt="")
						.icon
							.idate 10 сентября 2014
							.iname
								a(href="#") Состояние науки российской федерации
							.imeta
								.comments
									a(href="#") 51
								.views
									a(href="#") 225
					.item
						.iprev
							a(href="#") 
								img(src="img/content/220-160-3.jpg", alt="")
						.icon
							.idate 10 сентября 2014
							.iname
								a(href="#") Состояние науки российской федерации
							.imeta
								.comments
									a(href="#") 51
								.views
									a(href="#") 225
			//------------------------------------------------
			.box-right.boxside-sort-cat
				.bname
					h3 По разделам
				.bcon
					ul
						li.selected
							a(href="#") Авиация и космос (10)
						li
							a(href="#") Безопасность (17)
						li
							a(href="#") Бизнес-консалтинг (1)
						li
							a(href="#") Биотехнологии и медицина (25)
						li
							a(href="#") Власть (31)
						li
							a(href="#") Добыча полезных ископаемых (4)
						li.selected
							a(href="#") ЖКХ (3)
						li
							a(href="#") Бизнес-консалтинг (1)
						li
							a(href="#") Биотехнологии и медицина (25)
						li
							a(href="#") Власть (31)
						li
							a(href="#") Добыча полезных ископаемых (4)
						li.selected
							a(href="#") ЖКХ (3)
						li
							a(href="#") Безопасность (17)
						li
							a(href="#") Бизнес-консалтинг (1)
						li
							a(href="#") Биотехнологии и медицина (25)
						li
							a(href="#") Власть (31)
						li
							a(href="#") Добыча полезных ископаемых (4)
						li.selected
							a(href="#") ЖКХ (3)
						li
							a(href="#") Бизнес-консалтинг (1)
						li
							a(href="#") Биотехнологии и медицина (25)
		//------------------------------------------------
		.box-doc-lnks
			.boxside-docs.box-right
				.bname
					h3 Документы
				.bcon
					.table-cell
						.item
							.iname
								a(href="#") Лазерная гравировка и резка материалов
							.ifile PDF - 12 Мб 
						.item
							.iname
								a(href="#") Лазерная гравировка и резка материалов
							.ifile PDF - 12 Мб 
						.item
							.iname
								a(href="#") Лазерная гравировка и резка материалов
							.ifile PDF - 12 Мб
					.table-cell
						.item
							.iname
								a(href="#") Лазерная гравировка и резка материалов
							.ifile PDF - 12 Мб 
						.item
							.iname
								a(href="#") Лазерная гравировка и резка материалов
							.ifile PDF - 12 Мб 
						.item
							.iname
								a(href="#") Лазерная гравировка и резка материалов
							.ifile PDF - 12 Мб
				.ball
					a(href="#") Все документы
			//------------------------------------------------
			.boxside-links.box-right
				.bname
					h3 Ссылки по теме
				.bcon
					.item
						.iname Официальный сайт Минпромторг РФ
						.isite 
							a(href="#") http://gsi.ru  
					.item
						.iname Информационный портал содействующий развитию инжиниринга и промышленного дизайна в России
						.isite 
							a(href="#") http://инжиниринг-промдизайн.рф
					.item
						.iname ООО «ГСИ»
						.isite 
							a(href="#") http://gsi.ru  
				.ball
					a(href="#") Все ссылки