extends _layout

//------------------------------------------------
block append content
	.main-full
		.checks
			.line.mar-bot-10
				input#check-type-214(type='checkbox', value='214', name='FORM[APPLIANCE][]')
				label(for='check-type-214')
					| Определение динамических характеристик миниатюрных устройств (элементы датчиков давления, плат приборов, лопаток высокооборотных компрессоров и турбин)
			.line.mar-bot-10
				input#check-type-210(type='checkbox', value='210', name='FORM[APPLIANCE][]')
				label(for='check-type-210') Определение механических характеристик материалов