//- Шаблон
//------------------------------------------------
extends _layout

//- Загаловок страницы
block title
	| - Ссылки


//- Контент
//------------------------------------------------
block append content
	.main-width.main-wrap
		.pathway
			ul
				li.nound
					a(href="#") Информация
				li.sep >
				li
					a(href="#") Рынок услуг
		//------------------------------------------------
		.page-name
			h1 Сылки по теме
			p Ссылки на сайты, связанные с промдизайном и инжинирингом в РФ
		//------------------------------------------------
		.main-left
			.box-links
				.item
					.idesc
						.name Официальный сайт Минпромторг РФ
						.site 
							a(href="#") http://minpromtorg.gov.ru/
						.text Официальный сайт Министерства промышленности и торговли Российской Федерации.Содержит новости, документы и прочая информация.
					.igo
						a(href="#") 
				.item
					.idesc
						.name Официальный сайт Минпромторг РФ
						.site 
							a(href="#") http://minpromtorg.gov.ru/
						.text Официальный сайт Министерства промышленности и торговли Российской Федерации.Содержит новости, документы и прочая информация.
					.igo
						a(href="#")
				.item
					.idesc
						.name Официальный сайт Минпромторг РФ
						.site 
							a(href="#") http://minpromtorg.gov.ru/
						.text Официальный сайт Министерства промышленности и торговли Российской Федерации.Содержит новости, документы и прочая информация.
					.igo
						a(href="#") 
				.item
					.idesc
						.name Официальный сайт Минпромторг РФ
						.site 
							a(href="#") http://minpromtorg.gov.ru/
						.text Официальный сайт Министерства промышленности и торговли Российской Федерации.Содержит новости, документы и прочая информация.
					.igo
						a(href="#")
				.item
					.idesc
						.name Официальный сайт Минпромторг РФ
						.site 
							a(href="#") http://minpromtorg.gov.ru/
						.text Официальный сайт Министерства промышленности и торговли Российской Федерации.Содержит новости, документы и прочая информация.
					.igo
						a(href="#") 
				.item
					.idesc
						.name Официальный сайт Минпромторг РФ
						.site 
							a(href="#") http://minpromtorg.gov.ru/
						.text Официальный сайт Министерства промышленности и торговли Российской Федерации.Содержит новости, документы и прочая информация.
					.igo
						a(href="#") 				
		//------------------------------------------------
		.main-right
			.boxside-docs.box-right
				.bname
					h3 Документы
				.bcon
					.item
						.iname
							a(href="#") Лазерная гравировка и резка материалов
						.ifile PDF - 12 Мб 
					.item
						.iname
							a(href="#") Лазерная гравировка и резка материалов
						.ifile PDF - 12 Мб 
					.item
						.iname
							a(href="#") Лазерная гравировка и резка материалов
						.ifile PDF - 12 Мб
				.ball
					a(href="#") Все документы
			//------------------------------------------------
			.box-support
				.bcon
					.item
						a(href="#") 
							img(src="img/content/logo-minprom.png", alt="")
					.item
						a(href="#") 
							img(src="img/content/logo-smr.png", alt="")
					.item
						a(href="#") 
							img(src="img/content/logo-ibs.png", alt="")