//- Шаблон
//------------------------------------------------
extends _layout

//- Загаловок страницы
block title
	| - Моя организация


//- Контент
//------------------------------------------------
block append content
	.main-width.main-wrap
		.pathway
			ul
				li.nound
					a(href="#") Информация
				li.sep >
				li
					a(href="#") Моя организация
		//------------------------------------------------
		.organ-info
			.prev
				img(src="img/content/pic.png", alt="")
			.pic
				img(src="img/content/logo-inz.png", alt="")
			.info
				.name ООО «ГСИ»
				.desc Отраслевые компетенции Компании — нефтяная и газовая промышленность, нефтехимическая и химическая промышленность, черная и цветная.
			.contacts
				.td
					ul
						li.phone +7 (495) 258-84-20
						li.fax +7 (495) 258-60-64
						li.email 
							a(href="#") info@vebeng.ru
				.td
					ul
						li.map 107078, Россия, Москва, <br>ул. Маши Порываевой, д.7, стр. 2.
		//------------------------------------------------
		.main-left
			.box-info
				.box
					.bname
						h3 
							a(href="#") Оборудование
					.bcon
						.item
							.iprev
								a(href="#") 
									img(src="img/content/200-120-1.jpg", alt="")
							.iname
								a(href="#") Установка для исследования радиационного и термического выделения газов из неорганических материалов 
							.itext Национальный исследовательский Томский политехнический университет 
							.irating
								span Рейтинг
								ul
									li.star
									li.star
									li.star
									li
									li
						.item
							.iprev
								a(href="#") 
									img(src="img/content/200-120-2.jpg", alt="")
							.iname
								a(href="#") Тренажёр-имитатор бурения (учебный класс АМТ-231 УК) 
							.itext Кубанский государственный технологический университет 
							.irating
								span Рейтинг
								ul
									li.star
									li.star
									li.star
									li.star
									li
						.item
							.item-add
								a(href="#") Добавить оборудование																	
						.clear
						.all
							a(href="#") Все оборудование
						.sep
				.box
					.bname
						h3 
							a(href="#") Высокотехнологичные Услуги
					.bcon
						.item
							.iname
								a(href="#") Технологический лазерный комплекс гравировки и резки материалов 
							.itext Ивановский государственный политехнический университет 
							.irating
								span Рейтинг
								ul
									li.star
									li.star
									li.star
									li.star
									li.star
						.item
							.iname
								a(href="#") Установка для исследования радиационного и термического выделения газов из неорганических материалов 
							.itext Национальный исследовательский Томский политехнический университет 
							.irating
								span Рейтинг
								ul
									li.star
									li.star
									li.star
									li
									li
						.item
							.item-add
								a(href="#") Добавить программное обеспечение
						.clear
						.all
							a(href="#") Все услуги
						.sep
				.box
					.bname
						h3 
							a(href="#") Программное обеспечение
					.bcon
						.item
							.iname
								a(href="#") Разработка систем диспетчерского контроля и управления
							.itext 
								| ЗАО «ЭлеСи» <br>
								a(href="#") http://elesy.ru/engineering/services
							.irating
								span Рейтинг
								ul
									li.star
									li.star
									li.star
									li.star
									li.star
						.item
							.iname
								a(href="#") Установка для исследования радиационного и термического выделения газов из неорганических материалов 
							.itext 
								| ЗАО «ЭлеСи» <br>
								a(href="#") http://elesy.ru/engineering/services
							.irating
								span Рейтинг
								ul
									li.star
									li.star
									li.star
									li
									li
						.item
							.item-add
								a(href="#") Добавить программное обеспечение
						.clear
						.all
							a(href="#") Все программы
			//------------------------------------------------
			.box-info.orange
				.box
					.bname
						h3 
							a(href="#") Потребности в услугах и оборудовании
					.bcon
						.item
							.idate 19 сентября 2014 года
							.iname
								a(href="#") Лазерная гравировка и резка материа
							.itext 	
								p
									b Описание задачи: 
									| Здравствуйте, прошу сообщить о возможности проектирования грейферов.
								p С уважением, Олег Джагупов
								p
									b Контакт: 
									| Djagupovol@mzmo.ru
							.isuggest
								a(href="#") Предложить решение
						.item
							.idate 12 января 2014 года
							.iname
								a(href="#") Проектирование маневрового устройства для передвижения вагонов
							.itext 	
								p
									b Описание задачи: 
									| Здравствуйте, прошу сообщить, кто из инжиниринговых компаний возьмется за проектирование УПВ-25 (маневренное устройство для передвижения вагонов)?
								p С уважением, Олег Джагупов
								p
									b Контакт: 
									| Djagupovol@mzmo.ru
							.isuggest
								a(href="#") Предложить решение
						.item
							.item-add
								a(href="#") Добавить программное обеспечение
						.clear
						.all
							a(href="#") Все потребности
			//------------------------------------------------
			.box-info-graph
				.bname
					h3 
						a(href="#") Рейтинг организаций по научно-техническому потенциалу
				.bcon
					.item
						.item-left
							.iname
								a(href="#") ГНУ ВИЭСХ Россельхозакадемии
							.itext
								p.nomrg Оборудование: 56%
								p.nomrg Услуги: 23%
								p.nomrg Результаты интеллектальной деятельности: 58%
						.item-graph
							.graph-wrap
								.graph-inner(style='width:98%;')
							.graph-per 98%
							.graph-date +23 п.п. за последние 3 месяца
					.item
						.item-left
							.iname
								a(href="#") Национальный исследовательский Томский политехнический университет
							.itext
								p.nomrg Оборудование: 56%
								p.nomrg Услуги: 23%
								p.nomrg Результаты интеллектальной деятельности: 58%
						.item-graph
							.graph-wrap
								.graph-inner(style='width:67%;')
							.graph-per 67%
							.graph-date +43 п.п. за последние 3 месяца
					.item
						.item-left
							.iname
								a(href="#") ООО «ИИТКонсалтинг»
							.itext
								p.nomrg Оборудование: 56%
								p.nomrg Услуги: 23%
								p.nomrg Результаты интеллектальной деятельности: 58%
						.item-graph
							.graph-wrap
								.graph-inner(style='width:41%;')
							.graph-per 41%
							.graph-date +7 п.п. за последние 3 месяца
				.all
					a(href="#") Все рейтинги
			//------------------------------------------------
			.box-info-one
				.bname
					h3 
						a(href="#") Проекты
				.bcon
					.item
						.idate 2012-2018
						.iname
							a(href="#") Внедрение нового оборудования на ОАО «Уралавтоприцеп»
						.itext Минпромторг РФ
					.item
						.idate 2012-2018
						.iname
							a(href="#") Внедрение нового оборудования на ОАО «Уралавтоприцеп»
						.itext Минпромторг РФ
					.item
						.item-add
							a(href="#") Добавить проект
				.all
					a(href="#") Все проекты
			//------------------------------------------------
			.box-info-one
				.bname
					h3 
						a(href="#") Результаты интеллектуальной деятельности
				.bcon
					.item
						.iname
							a(href="#") Эскизные проекты роторов низкого давления тихоходной турбины мощностью свыше 1200 МВт с двумя ЦНД
						.itext
							p
								b Наименование компании: 
								| ООО «ГСИ»
							p
								b Вид РИД (РНТД): 
								| Изобретение
							p
								b Наименование РИД (РНТД): 
								| Микроэмульсионные композиции для создания трансдермальных и трансмукозальных форм фармацевтических средств и косметических препаратов, и способ их получения.
							p
								b Охранный документ:
								| Патент №2481822 от 21.02.2012
					.item
						.item-add
							a(href="#") Добавить программное обеспечение
				.all
					a(href="#") Все рейтинги
		.main-right
			.boxside-docs.box-right
				.bname
					h3 Документы
				.bcon
					.item
						.iname
							a(href="#") Лазерная гравировка и резка материалов
						.ifile PDF - 12 Мб 
					.item
						.iname
							a(href="#") Лазерная гравировка и резка материалов
						.ifile PDF - 12 Мб 
					.item
						.iname
							a(href="#") Лазерная гравировка и резка материалов
						.ifile PDF - 12 Мб
				.badd
					a(href="#") Добавить документ
				.ball
					a(href="#") Все документы
			//------------------------------------------------
			.boxside-links.box-right
				.bname
					h3 Ссылки по теме
				.bcon
					.item
						.iname ООО «ГСИ»
						.isite 
							a(href="#") http://gsi.ru  
					.item
						.iname Информационный портал содействующий развитию...
						.isite 
							a(href="#") http://gsi.ru  
					.item
						.iname ООО «ГСИ»
						.isite 
							a(href="#") http://gsi.ru  
				.badd
					a(href="#") Добавить ссылку
				.ball
					a(href="#") Все ссылки
			//------------------------------------------------
			.box-support
				.bcon
					.item
						a(href="#") 
							img(src="img/content/logo-minprom.png", alt="")
					.item
						a(href="#") 
							img(src="img/content/logo-smr.png", alt="")
					.item
						a(href="#") 
							img(src="img/content/logo-ibs.png", alt="")