extends _layout


block append content
	.main-width.main-wrap
		.pathway
			ul
				li: a(href="#") Системообразующие предприятия

		.main-full
			//- #отчетность
			.box-info-one
				.bname
					h3 
						a(href="#") Мониторинг
				.bcon
					.reporting-line.reporting-line_names
						.reporting-item.reporting_num №
						.reporting-item.reporting_name Название
						.reporting-item.reporting_time Срок
						.reporting-item.reporting_status Статус
					
					mixin reporting(num, name, status)
						.reporting-line
							.reporting-item.reporting_num= num
							.reporting-item.reporting_name(
								class=typeof 
								status === "undefined" ? undefined : status
								) #{name}
							.reporting-item.reporting_time до 10.12.2014
							.reporting-item.reporting_status
								a(href="#").link-plus Добавить
								
					+reporting("1", "Государственная поддержка", "ok")
					+reporting("2", "Источники и структура выручки", "ok")
					+reporting("3", "Дебиторская задолженность", "fault")
					+reporting("4", "Долговые обязательства", "ok")
					+reporting("5", "Сведения о персонале", "fault")
				
					.reporting-line
						.reporting-item.reporting_num 6
						.reporting-item.reporting_name.ok Государственная поддержка
						.reporting-item.reporting_time до 10.12.2014
						.reporting-item.reporting_status
							a(href="#").link-edit Изменить
							a(href="#").ok

					.all_full
						a(href="#") Все документы