//- Шаблон
//------------------------------------------------
extends _layout

//- Загаловок страницы
block title
	| - Документы

 
//- Контент
//------------------------------------------------
block append content
	.main-width.main-wrap
		.pathway
			ul
				li.nound
					a(href="#") Информация
				li.sep >
				li
					a(href="#") Рынок услуг
		//------------------------------------------------
		.page-name
			h1 Новости
			p Новости строительства промышленных или иных объектов
		//------------------------------------------------
		.main-left
			.box-news-prev
				.bmeta
					.date 19 сентября 2014 года
				.bname
					h1 В Ростовской области появится вертолетный кластер
				.bcon.bcon-text-style
					img(src="img/content/640-360-1.jpg", alt="")
					p.photo-desc Фото: Павел Птицын
					p.grey 
						i В пригороде Ростова-на-Дону, в районе аэродрома Батайск, будет создан вертолетный кластер. Он включит в себя летно-испытательный комплекс, сборочное производство вертолетов типа Ми-26, Ми-28, Ми-35 и перспективного среднего вертолета, а также центр по производству композитных лопастей и целый ряд других подразделений. О проекте пишет «Российская газета».
					p В рамках «Гидроавиасалона-2014», который прошел в Геленджике, Минпромторгом, корпорацией Ростех и правительством Ростовской области был подписан меморандум о реализации инвестпроекта.
					p «Мы договорились о выделении участка земли на базе территории воинской части. Минобороны согласилось передать аэродром в эксплуатацию Ростеху, «Вертолетам России», — пояснил глава Минпромторга Денис Мантуров.
				.bmeta.bot
					.more
						a(href="#") Читать полностью
					.right
						.comments
							a(href="#") 51
						.views
							a(href="#") 225
		//------------------------------------------------
		.main-right
			.box-news.box-right
				.bname
					h3 
						a(href="#") Главное за неделю
				.bcon
					.item
						.idate 30 Сентября
						.iname 
							a(href="#") Ученые объяснили смертельную опасность ветряных турбин для летучих мышей
						.imeta
							.comments
								a(href="#") 51
							.views
								a(href="#") 225
					.item
						.idate 30 Сентября
						.iname 
							a(href="#") Текстильный импортозамещающий комплекс появится в Ростовской области
						.imeta
							.comments
								a(href="#") 51
							.views
								a(href="#") 225
					.item
						.idate 30 Сентября
						.iname 
							a(href="#") Ученые объяснили смертельную 
						.imeta
							.comments
								a(href="#") 51
							.views
								a(href="#") 225
				.ball
					a(href="#") Все новости
			//------------------------------------------------
			.box-support
				.bcon
					.item
						a(href="#")  
							img(src="img/content/logo-minprom.png", alt="")
					.item
						a(href="#") 
							img(src="img/content/logo-smr.png", alt="")
					.item
						a(href="#") 
							img(src="img/content/logo-ibs.png", alt="")
		.sep-black
		.news-items-prev
			.td
				.item
					.iprev
						a(href="#") 
							img(src="img/content/220-160-1.jpg", alt="")
					.icon
						.idate 10 сентября 2014
						.iname
							a(href="#") Состояние науки российской федерации
						.imeta
							.comments
								a(href="#") 51
							.views
								a(href="#") 225
				.item
					.iprev
						a(href="#") 
							img(src="img/content/220-160-2.jpg", alt="")
					.icon
						.idate 10 сентября 2014
						.iname
							a(href="#") Состояние науки российской федерации
						.imeta
							.comments
								a(href="#") 51
							.views
								a(href="#") 225
				.item
					.iprev
						a(href="#") 
							img(src="img/content/220-160-3.jpg", alt="")
					.icon
						.idate 10 сентября 2014
						.iname
							a(href="#") Состояние науки российской федерации
						.imeta
							.comments
								a(href="#") 51
							.views
								a(href="#") 225
				.item
					.iprev
						a(href="#") 
							img(src="img/content/220-160-4.jpg", alt="")
					.icon
						.idate 10 сентября 2014
						.iname
							a(href="#") Состояние науки российской федерации
						.imeta
							.comments
								a(href="#") 51
							.views
								a(href="#") 225
			.td
				.item
					.iprev
						a(href="#") 
							img(src="img/content/220-160-3.jpg", alt="")
					.icon
						.idate 10 сентября 2014
						.iname
							a(href="#") Состояние науки российской федерации
						.imeta
							.comments
								a(href="#") 51
							.views
								a(href="#") 225
				.item
					.iprev
						a(href="#") 
							img(src="img/content/220-160-4.jpg", alt="")
					.icon
						.idate 10 сентября 2014
						.iname
							a(href="#") Состояние науки российской федерации
						.imeta
							.comments
								a(href="#") 51
							.views
								a(href="#") 225
				.item
					.iprev
						a(href="#") 
							img(src="img/content/220-160-1.jpg", alt="")
					.icon
						.idate 10 сентября 2014
						.iname
							a(href="#") Состояние науки российской федерации
						.imeta
							.comments
								a(href="#") 51
							.views
								a(href="#") 225
				.item
					.iprev
						a(href="#") 
							img(src="img/content/220-160-2.jpg", alt="")
					.icon
						.idate 10 сентября 2014
						.iname
							a(href="#") Состояние науки российской федерации
						.imeta
							.comments
								a(href="#") 51
							.views
								a(href="#") 225