//- Шаблон
//------------------------------------------------
extends _layout
 
 
//- Контент
//------------------------------------------------
block append content
	.main-width.main-wrap
		.pathway
			ul
				li: a(href="#") Рынок услуг
				li >
				li Организации
		//------------------------------------------------
		.page-name
			h1 Организации
			p Рынок услуг организаций
		//------------------------------------------------
		.main-full
			.search-con
				form(action="#")
					input(type="text", placeholder="Быстрый поиск по организациям").inp-text
					input(type="submit", value="").inp-submit
			.box-articles
				.heading
					.heading-left_sort-fl 
						| Сортировать по:						
						a(href="#")
							| НТП
							span
						a(href="#") 
							| Оборудования
							span 
						a(href="#").active 
							| Услуг
							span 
						a(href="#") 
							| ПО
							span
						a(href="#") 
							| РИД
							span
						a(href="#") 
							| Оценок пользователей
							span  
				.item-3col.js-object-box
					.iprev
						img(src="img/content/120-85-2.jpg", alt="")
						a(href="#").feedback Связаться
					.icon
						.iname
							a(href="#") Московский государственный университет им. М.В.Ломоносова
						div.iobjects
							a(href="#").js-show-objects Объекты научно-технического потенциала
						.itext.lh-small
							p Оборудование: 78% <br>
								| Услуги: 67% <br>
								| Программное обеспечние: 68% <br> 
								| Результаты интеллектуальной деятельности: 64% <br>
					.iconright
						.graph-name Рейтинг НТП 98 %
						.graph-box
							.graph-inner(style='width:98%;')
						.irating.irating_margin
							ul
								li.star
								li.star
								li.star
								li
								li
						.imeta
							.comments
								a(href="#") 51
							.views
								a(href="#") 225
					.l-boxgrey.js-object-con
						.boxgrey-name.js-show-objects
							a(href="#").close
							h3 Объекты научно-технического потенциала
						.boxgrey-con
							.row
								.col-4
									.item-object
										.iname 
											a(href="#") Станок токарный с ЧПУ
										.irating.mar-bot-10
											span Лаборатория
											ul
												li.star
												li.star
												li.star
												li
												li
										.itext-ext
											p.sm-mar
												span.dark  Выполняемые работы<br> 
												span.grey Оптическая микроскопия.
											p.sm-mar 
												span.dark  Выполняемые работы<br> 
												span.grey Оптическая микроскопия.
										.itext-ext
											a(href="#") Национальный исследовательский Томский политехнический университет
										.contacts-box
											span.phone +7 495 675 87 98
											span.email
												a(href="#").grey-link email@email.com
										.tags
											a(href="#").tags-item
												span.name Машиностроение
												span.count 12
											a(href="#").tags-item
												span.name Металлообработка
												span.count.empty
								.col-4
									.item-object
										.iname 
											a(href="#") Станок токарный с ЧПУ
										.irating.mar-bot-10
											span Лаборатория
											ul
												li.star
												li.star
												li.star
												li
												li
										.itext-ext
											p.sm-mar
												span.dark  Выполняемые работы<br> 
												span.grey Оптическая микроскопия.
											p.sm-mar 
												span.dark  Выполняемые работы<br> 
												span.grey Оптическая микроскопия.
										.itext-ext
											a(href="#") Национальный исследовательский Томский политехнический университет
										.contacts-box
											span.phone +7 495 675 87 98
											span.email
												a(href="#").grey-link email@email.com
										.tags
											a(href="#").tags-item
												span.name Машиностроение
												span.count 12
											a(href="#").tags-item
												span.name Металлообработка
												span.count.empty
								.col-4
									.item-object
										.iname 
											a(href="#") Станок токарный с ЧПУ
										.irating.mar-bot-10
											span Лаборатория
											ul
												li.star
												li.star
												li.star
												li
												li
										.itext-ext
											p.sm-mar
												span.dark  Выполняемые работы<br> 
												span.grey Оптическая микроскопия.
											p.sm-mar 
												span.dark  Выполняемые работы<br> 
												span.grey Оптическая микроскопия.
										.itext-ext
											a(href="#") Национальный исследовательский Томский политехнический университет
										.contacts-box
											span.phone +7 495 675 87 98
											span.email
												a(href="#").grey-link email@email.com
										.tags
											a(href="#").tags-item
												span.name Машиностроение
												span.count 12
											a(href="#").tags-item
												span.name Металлообработка
												span.count.empty
								.col-4
									.item-object
										.iname 
											a(href="#") Станок токарный с ЧПУ
										.irating.mar-bot-10
											span Лаборатория
											ul
												li.star
												li.star
												li.star
												li
												li
										.itext-ext
											p.sm-mar
												span.dark  Выполняемые работы<br> 
												span.grey Оптическая микроскопия.
											p.sm-mar 
												span.dark  Выполняемые работы<br> 
												span.grey Оптическая микроскопия.
										.itext-ext
											a(href="#") Национальный исследовательский Томский политехнический университет
										.contacts-box
											span.phone +7 495 675 87 98
											span.email
												a(href="#").grey-link email@email.com
										.tags
											a(href="#").tags-item
												span.name Машиностроение
												span.count 12
											a(href="#").tags-item
												span.name Металлообработка
												span.count.empty
						.show-more
							a(href="#") Показать еще
				.item-3col.js-object-box
					.iprev
						img(src="img/content/120-85-1.jpg", alt="")
						a(href="#").feedback Связаться
					.icon
						.iname
							a(href="#") Санкт-Петербургский государственный университет аэрокосмического приборостроения
						div.iobjects
							a(href="#").js-show-objects Объекты научно-технического потенциала
						.itext.lh-small
							p Оборудование: 78% <br>
								| Услуги: 67% <br>
								| Программное обеспечние: 68% <br> 
								| Результаты интеллектуальной деятельности: 64% <br>
					.iconright
						.graph-name Рейтинг НТП 53 %
						.graph-box
							.graph-inner(style='width:53%;')
						.irating.irating_margin
							ul
								li.star
								li.star
								li.star
								li
								li
						.imeta
							.comments
								a(href="#") 51
							.views
								a(href="#") 225
					.l-boxgrey.js-object-con
						.boxgrey-name.js-show-objects
							a(href="#").close
							h3 Объекты научно-технического потенциала
						.boxgrey-con
							.row
								.col-4
									.item-object
										.iname 
											a(href="#") Станок токарный с ЧПУ
										.irating.mar-bot-10
											span Лаборатория
											ul
												li.star
												li.star
												li.star
												li
												li
										.itext-ext
											p.sm-mar
												span.dark  Выполняемые работы<br> 
												span.grey Оптическая микроскопия.
											p.sm-mar 
												span.dark  Выполняемые работы<br> 
												span.grey Оптическая микроскопия.
										.itext-ext
											a(href="#") Национальный исследовательский Томский политехнический университет
										.contacts-box
											span.phone +7 495 675 87 98
											span.email
												a(href="#").grey-link email@email.com
										.tags
											a(href="#").tags-item
												span.name Машиностроение
												span.count 12
											a(href="#").tags-item
												span.name Металлообработка
												span.count.empty
								.col-4
									.item-object
										.iname 
											a(href="#") Станок токарный с ЧПУ
										.irating.mar-bot-10
											span Лаборатория
											ul
												li.star
												li.star
												li.star
												li
												li
										.itext-ext
											p.sm-mar
												span.dark  Выполняемые работы<br> 
												span.grey Оптическая микроскопия.
											p.sm-mar 
												span.dark  Выполняемые работы<br> 
												span.grey Оптическая микроскопия.
										.itext-ext
											a(href="#") Национальный исследовательский Томский политехнический университет
										.contacts-box
											span.phone +7 495 675 87 98
											span.email
												a(href="#").grey-link email@email.com
										.tags
											a(href="#").tags-item
												span.name Машиностроение
												span.count 12
											a(href="#").tags-item
												span.name Металлообработка
												span.count.empty
								.col-4
									.item-object
										.iname 
											a(href="#") Станок токарный с ЧПУ
										.irating.mar-bot-10
											span Лаборатория
											ul
												li.star
												li.star
												li.star
												li
												li
										.itext-ext
											p.sm-mar
												span.dark  Выполняемые работы<br> 
												span.grey Оптическая микроскопия.
											p.sm-mar 
												span.dark  Выполняемые работы<br> 
												span.grey Оптическая микроскопия.
										.itext-ext
											a(href="#") Национальный исследовательский Томский политехнический университет
										.contacts-box
											span.phone +7 495 675 87 98
											span.email
												a(href="#").grey-link email@email.com
										.tags
											a(href="#").tags-item
												span.name Машиностроение
												span.count 12
											a(href="#").tags-item
												span.name Металлообработка
												span.count.empty
								.col-4
									.item-object
										.iname 
											a(href="#") Станок токарный с ЧПУ
										.irating.mar-bot-10
											span Лаборатория
											ul
												li.star
												li.star
												li.star
												li
												li
										.itext-ext
											p.sm-mar
												span.dark  Выполняемые работы<br> 
												span.grey Оптическая микроскопия.
											p.sm-mar 
												span.dark  Выполняемые работы<br> 
												span.grey Оптическая микроскопия.
										.itext-ext
											a(href="#") Национальный исследовательский Томский политехнический университет
										.contacts-box
											span.phone +7 495 675 87 98
											span.email
												a(href="#").grey-link email@email.com
										.tags
											a(href="#").tags-item
												span.name Машиностроение
												span.count 12
											a(href="#").tags-item
												span.name Металлообработка
												span.count.empty
						.show-more
							a(href="#") Показать еще
				.item-3col.js-object-box
					.iprev
						img(src="img/content/120-85-2.jpg", alt="")
						a(href="#").feedback Связаться
					.icon
						.iname
							a(href="#") ООО «Лаборатории АМФОРА»
						div
							a.iobjects.js-show-objects Объекты научно-технического потенциала
						div.iobjects
							a(href="#").js-show-objects Объекты научно-технического потенциала
						.itext.lh-small
							p Оборудование: 78% <br>
								| Услуги: 67% <br>
								| Программное обеспечние: 68% <br> 
								| Результаты интеллектуальной деятельности: 64% <br>
					.iconright
						.graph-name Рейтинг НТП 76 %
						.graph-box
							.graph-inner(style='width:76%;')
						.irating.irating_margin
							ul
								li.star
								li.star
								li.star
								li
								li
						.imeta
							.comments
								a(href="#") 51
							.views
								a(href="#") 225
					.l-boxgrey.js-object-con
						.boxgrey-name.js-show-objects
							a(href="#").close
							h3 Объекты научно-технического потенциала
						.boxgrey-con
							.row
								.col-4
									.item-object
										.iname 
											a(href="#") Станок токарный с ЧПУ
										.irating.mar-bot-10
											span Лаборатория
											ul
												li.star
												li.star
												li.star
												li
												li
										.itext-ext
											p.sm-mar
												span.dark  Выполняемые работы<br> 
												span.grey Оптическая микроскопия.
											p.sm-mar 
												span.dark  Выполняемые работы<br> 
												span.grey Оптическая микроскопия.
										.itext-ext
											a(href="#") Национальный исследовательский Томский политехнический университет
										.contacts-box
											span.phone +7 495 675 87 98
											span.email
												a(href="#").grey-link email@email.com
										.tags
											a(href="#").tags-item
												span.name Машиностроение
												span.count 12
											a(href="#").tags-item
												span.name Металлообработка
												span.count.empty
								.col-4
									.item-object
										.iname 
											a(href="#") Станок токарный с ЧПУ
										.irating.mar-bot-10
											span Лаборатория
											ul
												li.star
												li.star
												li.star
												li
												li
										.itext-ext
											p.sm-mar
												span.dark  Выполняемые работы<br> 
												span.grey Оптическая микроскопия.
											p.sm-mar 
												span.dark  Выполняемые работы<br> 
												span.grey Оптическая микроскопия.
										.itext-ext
											a(href="#") Национальный исследовательский Томский политехнический университет
										.contacts-box
											span.phone +7 495 675 87 98
											span.email
												a(href="#").grey-link email@email.com
										.tags
											a(href="#").tags-item
												span.name Машиностроение
												span.count 12
											a(href="#").tags-item
												span.name Металлообработка
												span.count.empty
								.col-4
									.item-object
										.iname 
											a(href="#") Станок токарный с ЧПУ
										.irating.mar-bot-10
											span Лаборатория
											ul
												li.star
												li.star
												li.star
												li
												li
										.itext-ext
											p.sm-mar
												span.dark  Выполняемые работы<br> 
												span.grey Оптическая микроскопия.
											p.sm-mar 
												span.dark  Выполняемые работы<br> 
												span.grey Оптическая микроскопия.
										.itext-ext
											a(href="#") Национальный исследовательский Томский политехнический университет
										.contacts-box
											span.phone +7 495 675 87 98
											span.email
												a(href="#").grey-link email@email.com
										.tags
											a(href="#").tags-item
												span.name Машиностроение
												span.count 12
											a(href="#").tags-item
												span.name Металлообработка
												span.count.empty
								.col-4
									.item-object
										.iname 
											a(href="#") Станок токарный с ЧПУ
										.irating.mar-bot-10
											span Лаборатория
											ul
												li.star
												li.star
												li.star
												li
												li
										.itext-ext
											p.sm-mar
												span.dark  Выполняемые работы<br> 
												span.grey Оптическая микроскопия.
											p.sm-mar 
												span.dark  Выполняемые работы<br> 
												span.grey Оптическая микроскопия.
										.itext-ext
											a(href="#") Национальный исследовательский Томский политехнический университет
										.contacts-box
											span.phone +7 495 675 87 98
											span.email
												a(href="#").grey-link email@email.com
										.tags
											a(href="#").tags-item
												span.name Машиностроение
												span.count 12
											a(href="#").tags-item
												span.name Металлообработка
												span.count.empty
						.show-more
							a(href="#") Показать еще
				.item-3col.js-object-box
					.iprev
						img(src="img/content/120-85-2.jpg", alt="")
						a(href="#").feedback Связаться
					.icon
						.iname
							a(href="#") Московский государственный университет им. М.В.Ломоносова
						div.iobjects
							a(href="#").js-show-objects Объекты научно-технического потенциала
						.itext.lh-small
							p Оборудование: 78% <br>
								| Услуги: 67% <br>
								| Программное обеспечние: 68% <br> 
								| Результаты интеллектуальной деятельности: 64% <br>
					.iconright
						.graph-name Рейтинг НТП 98 %
						.graph-box
							.graph-inner(style='width:98%;')
						.irating.irating_margin
							ul
								li.star
								li.star
								li.star
								li
								li
						.imeta
							.comments
								a(href="#") 51
							.views
								a(href="#") 225
					.l-boxgrey.js-object-con
						.boxgrey-name.js-show-objects
							a(href="#").close
							h3 Объекты научно-технического потенциала
						.boxgrey-con
							.row
								.col-4
									.item-object
										.iname 
											a(href="#") Станок токарный с ЧПУ
										.irating.mar-bot-10
											span Лаборатория
											ul
												li.star
												li.star
												li.star
												li
												li
										.itext-ext
											p.sm-mar
												span.dark  Выполняемые работы<br> 
												span.grey Оптическая микроскопия.
											p.sm-mar 
												span.dark  Выполняемые работы<br> 
												span.grey Оптическая микроскопия.
										.itext-ext
											a(href="#") Национальный исследовательский Томский политехнический университет
										.contacts-box
											span.phone +7 495 675 87 98
											span.email
												a(href="#").grey-link email@email.com
										.tags
											a(href="#").tags-item
												span.name Машиностроение
												span.count 12
											a(href="#").tags-item
												span.name Металлообработка
												span.count.empty
								.col-4
									.item-object
										.iname 
											a(href="#") Станок токарный с ЧПУ
										.irating.mar-bot-10
											span Лаборатория
											ul
												li.star
												li.star
												li.star
												li
												li
										.itext-ext
											p.sm-mar
												span.dark  Выполняемые работы<br> 
												span.grey Оптическая микроскопия.
											p.sm-mar 
												span.dark  Выполняемые работы<br> 
												span.grey Оптическая микроскопия.
										.itext-ext
											a(href="#") Национальный исследовательский Томский политехнический университет
										.contacts-box
											span.phone +7 495 675 87 98
											span.email
												a(href="#").grey-link email@email.com
										.tags
											a(href="#").tags-item
												span.name Машиностроение
												span.count 12
											a(href="#").tags-item
												span.name Металлообработка
												span.count.empty
								.col-4
									.item-object
										.iname 
											a(href="#") Станок токарный с ЧПУ
										.irating.mar-bot-10
											span Лаборатория
											ul
												li.star
												li.star
												li.star
												li
												li
										.itext-ext
											p.sm-mar
												span.dark  Выполняемые работы<br> 
												span.grey Оптическая микроскопия.
											p.sm-mar 
												span.dark  Выполняемые работы<br> 
												span.grey Оптическая микроскопия.
										.itext-ext
											a(href="#") Национальный исследовательский Томский политехнический университет
										.contacts-box
											span.phone +7 495 675 87 98
											span.email
												a(href="#").grey-link email@email.com
										.tags
											a(href="#").tags-item
												span.name Машиностроение
												span.count 12
											a(href="#").tags-item
												span.name Металлообработка
												span.count.empty
								.col-4
									.item-object
										.iname 
											a(href="#") Станок токарный с ЧПУ
										.irating.mar-bot-10
											span Лаборатория
											ul
												li.star
												li.star
												li.star
												li
												li
										.itext-ext
											p.sm-mar
												span.dark  Выполняемые работы<br> 
												span.grey Оптическая микроскопия.
											p.sm-mar 
												span.dark  Выполняемые работы<br> 
												span.grey Оптическая микроскопия.
										.itext-ext
											a(href="#") Национальный исследовательский Томский политехнический университет
										.contacts-box
											span.phone +7 495 675 87 98
											span.email
												a(href="#").grey-link email@email.com
										.tags
											a(href="#").tags-item
												span.name Машиностроение
												span.count 12
											a(href="#").tags-item
												span.name Металлообработка
												span.count.empty
						.show-more
							a(href="#") Показать еще
				.item-3col.js-object-box
					.iprev
						img(src="img/content/120-85-1.jpg", alt="")
						a(href="#").feedback Связаться
					.icon
						.iname
							a(href="#") Санкт-Петербургский государственный университет аэрокосмического приборостроения
						div.iobjects
							a(href="#").js-show-objects Объекты научно-технического потенциала
						.itext.lh-small
							p Оборудование: 78% <br>
								| Услуги: 67% <br>
								| Программное обеспечние: 68% <br> 
								| Результаты интеллектуальной деятельности: 64% <br>
					.iconright
						.graph-name Рейтинг НТП 53 %
						.graph-box
							.graph-inner(style='width:53%;')
						.irating.irating_margin
							ul
								li.star
								li.star
								li.star
								li
								li
						.imeta
							.comments
								a(href="#") 51
							.views
								a(href="#") 225
					.l-boxgrey.js-object-con
						.boxgrey-name.js-show-objects
							a(href="#").close
							h3 Объекты научно-технического потенциала
						.boxgrey-con
							.row
								.col-4
									.item-object
										.iname 
											a(href="#") Станок токарный с ЧПУ
										.irating.mar-bot-10
											span Лаборатория
											ul
												li.star
												li.star
												li.star
												li
												li
										.itext-ext
											p.sm-mar
												span.dark  Выполняемые работы<br> 
												span.grey Оптическая микроскопия.
											p.sm-mar 
												span.dark  Выполняемые работы<br> 
												span.grey Оптическая микроскопия.
										.itext-ext
											a(href="#") Национальный исследовательский Томский политехнический университет
										.contacts-box
											span.phone +7 495 675 87 98
											span.email
												a(href="#").grey-link email@email.com
										.tags
											a(href="#").tags-item
												span.name Машиностроение
												span.count 12
											a(href="#").tags-item
												span.name Металлообработка
												span.count.empty
								.col-4
									.item-object
										.iname 
											a(href="#") Станок токарный с ЧПУ
										.irating.mar-bot-10
											span Лаборатория
											ul
												li.star
												li.star
												li.star
												li
												li
										.itext-ext
											p.sm-mar
												span.dark  Выполняемые работы<br> 
												span.grey Оптическая микроскопия.
											p.sm-mar 
												span.dark  Выполняемые работы<br> 
												span.grey Оптическая микроскопия.
										.itext-ext
											a(href="#") Национальный исследовательский Томский политехнический университет
										.contacts-box
											span.phone +7 495 675 87 98
											span.email
												a(href="#").grey-link email@email.com
										.tags
											a(href="#").tags-item
												span.name Машиностроение
												span.count 12
											a(href="#").tags-item
												span.name Металлообработка
												span.count.empty
								.col-4
									.item-object
										.iname 
											a(href="#") Станок токарный с ЧПУ
										.irating.mar-bot-10
											span Лаборатория
											ul
												li.star
												li.star
												li.star
												li
												li
										.itext-ext
											p.sm-mar
												span.dark  Выполняемые работы<br> 
												span.grey Оптическая микроскопия.
											p.sm-mar 
												span.dark  Выполняемые работы<br> 
												span.grey Оптическая микроскопия.
										.itext-ext
											a(href="#") Национальный исследовательский Томский политехнический университет
										.contacts-box
											span.phone +7 495 675 87 98
											span.email
												a(href="#").grey-link email@email.com
										.tags
											a(href="#").tags-item
												span.name Машиностроение
												span.count 12
											a(href="#").tags-item
												span.name Металлообработка
												span.count.empty
								.col-4
									.item-object
										.iname 
											a(href="#") Станок токарный с ЧПУ
										.irating.mar-bot-10
											span Лаборатория
											ul
												li.star
												li.star
												li.star
												li
												li
										.itext-ext
											p.sm-mar
												span.dark  Выполняемые работы<br> 
												span.grey Оптическая микроскопия.
											p.sm-mar 
												span.dark  Выполняемые работы<br> 
												span.grey Оптическая микроскопия.
										.itext-ext
											a(href="#") Национальный исследовательский Томский политехнический университет
										.contacts-box
											span.phone +7 495 675 87 98
											span.email
												a(href="#").grey-link email@email.com
										.tags
											a(href="#").tags-item
												span.name Машиностроение
												span.count 12
											a(href="#").tags-item
												span.name Металлообработка
												span.count.empty
						.show-more
							a(href="#") Показать еще
				.item-3col.js-object-box
					.iprev
						img(src="img/content/120-85-2.jpg", alt="")
						a(href="#").feedback Связаться
					.icon
						.iname
							a(href="#") ООО «Лаборатории АМФОРА»
						div.iobjects
							a(href="#").js-show-objects Объекты научно-технического потенциала
						.itext.lh-small
							p Оборудование: 78% <br>
								| Услуги: 67% <br>
								| Программное обеспечние: 68% <br> 
								| Результаты интеллектуальной деятельности: 64% <br>
					.iconright
						.graph-name Рейтинг НТП 76 %
						.graph-box
							.graph-inner(style='width:76%;')
						.irating.irating_margin
							ul
								li.star
								li.star
								li.star
								li
								li
						.imeta
							.comments
								a(href="#") 51
							.views
								a(href="#") 225
					.l-boxgrey.js-object-con
						.boxgrey-name.js-show-objects
							a(href="#").close
							h3 Объекты научно-технического потенциала
						.boxgrey-con
							.row
								.col-4
									.item-object
										.iname 
											a(href="#") Станок токарный с ЧПУ
										.irating.mar-bot-10
											span Лаборатория
											ul
												li.star
												li.star
												li.star
												li
												li
										.itext-ext
											p.sm-mar
												span.dark  Выполняемые работы<br> 
												span.grey Оптическая микроскопия.
											p.sm-mar 
												span.dark  Выполняемые работы<br> 
												span.grey Оптическая микроскопия.
										.itext-ext
											a(href="#") Национальный исследовательский Томский политехнический университет
										.contacts-box
											span.phone +7 495 675 87 98
											span.email
												a(href="#").grey-link email@email.com
										.tags
											a(href="#").tags-item
												span.name Машиностроение
												span.count 12
											a(href="#").tags-item
												span.name Металлообработка
												span.count.empty
								.col-4
									.item-object
										.iname 
											a(href="#") Станок токарный с ЧПУ
										.irating.mar-bot-10
											span Лаборатория
											ul
												li.star
												li.star
												li.star
												li
												li
										.itext-ext
											p.sm-mar
												span.dark  Выполняемые работы<br> 
												span.grey Оптическая микроскопия.
											p.sm-mar 
												span.dark  Выполняемые работы<br> 
												span.grey Оптическая микроскопия.
										.itext-ext
											a(href="#") Национальный исследовательский Томский политехнический университет
										.contacts-box
											span.phone +7 495 675 87 98
											span.email
												a(href="#").grey-link email@email.com
										.tags
											a(href="#").tags-item
												span.name Машиностроение
												span.count 12
											a(href="#").tags-item
												span.name Металлообработка
												span.count.empty
								.col-4
									.item-object
										.iname 
											a(href="#") Станок токарный с ЧПУ
										.irating.mar-bot-10
											span Лаборатория
											ul
												li.star
												li.star
												li.star
												li
												li
										.itext-ext
											p.sm-mar
												span.dark  Выполняемые работы<br> 
												span.grey Оптическая микроскопия.
											p.sm-mar 
												span.dark  Выполняемые работы<br> 
												span.grey Оптическая микроскопия.
										.itext-ext
											a(href="#") Национальный исследовательский Томский политехнический университет
										.contacts-box
											span.phone +7 495 675 87 98
											span.email
												a(href="#").grey-link email@email.com
										.tags
											a(href="#").tags-item
												span.name Машиностроение
												span.count 12
											a(href="#").tags-item
												span.name Металлообработка
												span.count.empty
								.col-4
									.item-object
										.iname 
											a(href="#") Станок токарный с ЧПУ
										.irating.mar-bot-10
											span Лаборатория
											ul
												li.star
												li.star
												li.star
												li
												li
										.itext-ext
											p.sm-mar
												span.dark  Выполняемые работы<br> 
												span.grey Оптическая микроскопия.
											p.sm-mar 
												span.dark  Выполняемые работы<br> 
												span.grey Оптическая микроскопия.
										.itext-ext
											a(href="#") Национальный исследовательский Томский политехнический университет
										.contacts-box
											span.phone +7 495 675 87 98
											span.email
												a(href="#").grey-link email@email.com
										.tags
											a(href="#").tags-item
												span.name Машиностроение
												span.count 12
											a(href="#").tags-item
												span.name Металлообработка
												span.count.empty
						.show-more
							a(href="#") Показать еще