extends _layout

block styles
	link(href="css/jquery.remodal.css", rel="stylesheet")
block scripts
	script(src="js/jquery.remodal.js", type="text/javascript")
		
block append content
	.hide
		.remodal(data-remodal-id="poporder")
			.popedit
				.popedit__name Связаться
				form(action="#")
					.popedit__form
						.lineedit
							.lineedit__name
								| Название
								span.req *
							.lineedit__con
								input(type="text", placeholder="", value="Станок токарный с ЧПУ").inp-field.inp-field_500
						.lineedit
							.lineedit__name
								| Описание
							.lineedit__con
								input(type="text", placeholder="", value="DELTAMAB 400").inp-field.inp-field_500
						.lineedit
							.lineedit__name
								| ID заказа
								span.req *
							.lineedit__con
								input(type="text", placeholder="", value="Отличные").inp-field.inp-field_full
						.lineedit
							.lineedit__name
								| Контакты
								span.req *
							.lineedit__con
								textarea(placeholder="").text-field.text-field_full (заказчика) , ФИО, телефон, емаил.
						.lineedit
							.lineedit__name
								| Комментарий
							.lineedit__con
								textarea(placeholder="").text-field.text-field_full Комментарий
						.lineedit
							a(href="#").btn-orange-wide.inline.edit-save Связаться

	.main-width.main-wrap
		.pathway
			ul
				li: a(href="#") События
				li >
				li: a(href="#") ОБОРУДОВАНИЕ
				li >
				li Станок токарный с ЧПУ
		//------------------------------------------------
		.main-left
			.box-text-item
				.bmeta
					.date 19 сентября 2014 года
					.comments
						a(href="#") 61
					.views 2726
				.bcon.bcon-text-style
					.event-item.mar-bot-30
						.icon
							h1.service-title ЗАО «Научно-производственный центр “Модуль”»
							.graph-name Рейтинг НТП 73 %
							.graph-box.graph-box_mwidth
								.graph-inner(style='width:73%;')
							.irating.irating_margin
								ul
									li.star
									li.star
									li.star
									li.star
									li
						.iprev
							img(src="img/content/120-85-1.jpg", alt="")
						p.grey
							| Оборудование: 78% <br>
							| Услуги: 67% <br>
							| Программное обеспечние: 68% <br> 
							| Объекты научного технического потенциала - 28% <br> 
							| Результаты интеллектуальной деятельности: 64% <br>
						p
							strong Вид деятельности: 
							| проведение исследований, измерение <br>
							strong Расположение: 
							| Московская область, Протвино <br>
							strong Контакты: 
							| email@email.com, +7 495 675 87 98
						.inline
							a(href="#poporder").btn-orange.btn-orange-bigm Свзяаться
				.bmetabot
					.share
						span Поделиться
						ul
							li.vk
								a(href="#")
							li.fb
								a(href="#")
							li.tw
								a(href="#")
							li.in
								a(href="#")
					.comments-count
						a(href="#").btn-grey 19 комментариев
				
				.box-interest
					.bname
						h3 Похожие рекомендации
					.bcon
						.box-articles.m-mod
							mixin item(name, pic, rating)
								.item-3col.js-object-box
									.iprev
										img(src="img/content/#{pic}", alt="")
										a(href="#poporder").feedback Связаться
									.icon
										.iname
											a(href="#")= name
										div.iobjects
											a(href="#").js-show-objects Предложения организации
										.itext.lh-small
											p Оборудование: 78% <br>
												| Услуги: 67% <br>
												| Программное обеспечние: 68% <br> 
												| Объекты научного технического потенциала: - 28% <br> 
												| Результаты интеллектуальной деятельности: 64% <br>
									.iconright
										.graph-name Рейтинг НТП #{rating} %
										.graph-box
											.graph-inner(style='width:#{rating}%;')
										.irating.irating_margin
											ul
												li.star
												li.star
												li.star
												li
												li
										.imeta
											.comments
												a(href="#") 51
											.views
												a(href="#") 225
									.l-boxgrey.js-object-con
										.boxgrey-name.js-show-objects
											a(href="#").close
											h3 Объекты научно-технического потенциала
										.boxgrey-con.js-show-more-box
											.row
												.col-4-sep
												.col-4.col-4_white.w33
													.item-object
														.iname 
															a(href="#") Автолаборатория для проведения энергетического обследования на базе ГАЗ-27527
														.irating.mar-bot-10
															span Лаборатория
															ul
																li.star
																li.star
																li.star
																li
																li
														.itext-ext
															p.sm-mar
																span.dark Выполняемые работы<br> 
																span.grey Оптическая микроскопия.
															p.sm-mar 
																span.dark Основные характеристики<br> 
																span.grey Исследования сплавов черных и цветных металлов.
															p.sm-mar 
																span.dark Производственная мощность<br> 
																span.grey До 250 исследуемых образцов в месяц
															p.sm-mar 
																span.dark Аккредитация: 
																span.grey Есть
															p.sm-mar 
																span.dark Организация (ВУЗ / ГНЦ): 
																span.grey ЗАО «Научно-производственный центр “Модуль”»
														.contacts-box
															span.phone +7 495 675 87 98
															span.email
																a(href="#").link-orange email@email.com
														.tags
															a(href="#").tags-item
																span.name Машиностроение
																span.count 12
															a(href="#").tags-item
																span.name Металлообработка
																span.count.empty
												.col-4-sep &nbsp;
												.col-4.col-4_white.w33
													.item-object
														.ipic: img(src="img/content/equip-2.jpg", alt="")
														.iname 
															a(href="#") Станок токарный с ЧПУ
														.irating.irating_sm.mar-bot-10
															span DELTAMAB 400
															ul
																li.star
																li.star
																li.star
																li
																li
														.itext-ext
															p.sm-mar Изготовление деталей типа тел вращения
															p.sm-mar
																span.dark  Организация (ВУЗ / ГНЦ): <br> 
																span.grey ЗАО «Научно-производственный центр “Модуль”»
														.tags
															a(href="#").tags-item
																span.name Машиностроение
																span.count 12
															a(href="#").tags-item
																span.name Металлообработка
																span.count.empty
												.col-4-sep &nbsp;
												.col-4.col-4_white.w33 
													.item-object
														.iname 
															a(href="#") Металлографические исследования
														.grey Микроскопия, анализ химического состава материалов
														.irating.mar-bot-10
															span Лаборатория
															ul
																li.star
																li.star
																li.star
																li
																li
														.itext-ext
															p.sm-mar
																span.dark Описание: 
																span.grey лаборатория
															p.sm-mar
																span.dark Организация (ВУЗ / ГНЦ): <br>
																span.grey ЗАО «Научно-производственный центр “Модуль”»
														.tags
															a(href="#").tags-item
																span.name Машиностроение
																span.count 12
															a(href="#").tags-item
																span.name Металлообработка
																span.count.empty
											.row.hide
												.col-4-sep
												.col-4.col-4_white.w33
													.item-object
														.iname 
															a(href="#") Автолаборатория для проведения энергетического обследования на базе ГАЗ-27527
														.irating.mar-bot-10
															span Лаборатория
															ul
																li.star
																li.star
																li.star
																li
																li
														.itext-ext
															p.sm-mar
																span.dark Выполняемые работы<br> 
																span.grey Оптическая микроскопия.
															p.sm-mar 
																span.dark Основные характеристики<br> 
																span.grey Исследования сплавов черных и цветных металлов.
															p.sm-mar 
																span.dark Производственная мощность<br> 
																span.grey До 250 исследуемых образцов в месяц
															p.sm-mar 
																span.dark Аккредитация: 
																span.grey Есть
															p.sm-mar 
																span.dark Организация (ВУЗ / ГНЦ): 
																span.grey ЗАО «Научно-производственный центр “Модуль”»
														.contacts-box
															span.phone +7 495 675 87 98
															span.email
																a(href="#").link-orange email@email.com
														.tags
															a(href="#").tags-item
																span.name Машиностроение
																span.count 12
															a(href="#").tags-item
																span.name Металлообработка
																span.count.empty
												.col-4-sep &nbsp;
												.col-4.col-4_white.w33
													.item-object
														.ipic: img(src="img/content/equip-2.jpg", alt="")
														.iname 
															a(href="#") Станок токарный с ЧПУ
														.irating.irating_sm.mar-bot-10
															span DELTAMAB 400
															ul
																li.star
																li.star
																li.star
																li
																li
														.itext-ext
															p.sm-mar Изготовление деталей типа тел вращения
															p.sm-mar
																span.dark  Организация (ВУЗ / ГНЦ): <br> 
																span.grey ЗАО «Научно-производственный центр “Модуль”»
														.tags
															a(href="#").tags-item
																span.name Машиностроение
																span.count 12
															a(href="#").tags-item
																span.name Металлообработка
																span.count.empty
												.col-4-sep &nbsp;
												.col-4.col-4_white.w33 
													.item-object
														.iname 
															a(href="#") Металлографические исследования
														.grey Микроскопия, анализ химического состава материалов
														.irating.mar-bot-10
															span Лаборатория
															ul
																li.star
																li.star
																li.star
																li
																li
														.itext-ext
															p.sm-mar
																span.dark Описание: 
																span.grey лаборатория
															p.sm-mar
																span.dark Организация (ВУЗ / ГНЦ): <br>
																span.grey ЗАО «Научно-производственный центр “Модуль”»
														.tags
															a(href="#").tags-item
																span.name Машиностроение
																span.count 12
															a(href="#").tags-item
																span.name Металлообработка
																span.count.empty
											.row.hide
												.col-4-sep
												.col-4.col-4_white.w33
													.item-object
														.iname 
															a(href="#") Автолаборатория для проведения энергетического обследования на базе ГАЗ-27527
														.irating.mar-bot-10
															span Лаборатория
															ul
																li.star
																li.star
																li.star
																li
																li
														.itext-ext
															p.sm-mar
																span.dark Выполняемые работы<br> 
																span.grey Оптическая микроскопия.
															p.sm-mar 
																span.dark Основные характеристики<br> 
																span.grey Исследования сплавов черных и цветных металлов.
															p.sm-mar 
																span.dark Производственная мощность<br> 
																span.grey До 250 исследуемых образцов в месяц
															p.sm-mar 
																span.dark Аккредитация: 
																span.grey Есть
															p.sm-mar 
																span.dark Организация (ВУЗ / ГНЦ): 
																span.grey ЗАО «Научно-производственный центр “Модуль”»
														.contacts-box
															span.phone +7 495 675 87 98
															span.email
																a(href="#").link-orange email@email.com
														.tags
															a(href="#").tags-item
																span.name Машиностроение
																span.count 12
															a(href="#").tags-item
																span.name Металлообработка
																span.count.empty
												.col-4-sep &nbsp;
												.col-4.col-4_white.w33
													.item-object
														.ipic: img(src="img/content/equip-2.jpg", alt="")
														.iname 
															a(href="#") Станок токарный с ЧПУ
														.irating.irating_sm.mar-bot-10
															span DELTAMAB 400
															ul
																li.star
																li.star
																li.star
																li
																li
														.itext-ext
															p.sm-mar Изготовление деталей типа тел вращения
															p.sm-mar
																span.dark  Организация (ВУЗ / ГНЦ): <br> 
																span.grey ЗАО «Научно-производственный центр “Модуль”»
														.tags
															a(href="#").tags-item
																span.name Машиностроение
																span.count 12
															a(href="#").tags-item
																span.name Металлообработка
																span.count.empty
												.col-4-sep &nbsp;
												.col-4.col-4_white.w33 
													.item-object
														.iname 
															a(href="#") Металлографические исследования
														.grey Микроскопия, анализ химического состава материалов
														.irating.mar-bot-10
															span Лаборатория
															ul
																li.star
																li.star
																li.star
																li
																li
														.itext-ext
															p.sm-mar
																span.dark Описание: 
																span.grey лаборатория
															p.sm-mar
																span.dark Организация (ВУЗ / ГНЦ): <br>
																span.grey ЗАО «Научно-производственный центр “Модуль”»
														.tags
															a(href="#").tags-item
																span.name Машиностроение
																span.count 12
															a(href="#").tags-item
																span.name Металлообработка
																span.count.empty
											.show-more.js-show-more
												a(href="#") Показать еще
							
							+item("ЗАО «Научно-производственный центр “Модуль”»", "120-85-2.jpg", "75")
							+item("Санкт-Петербургский государственный университет аэрокосмического приборостроения", "120-85-1.jpg", "91")
				+comment-block
		//------------------------------------------------
		.main-right
			.box-news.box-right.box-news_dotted
				.bname
					h3: a(href="#") Популярные объекты научно-технического потенциала
				.bcon
					.item
						.iname 
							a(href="#") Автолаборатория для проведения энергетического обследования на базе ГАЗ-27527
						.irating.mar-bot-10
							span Лаборатория
							ul
								li.star
								li.star
								li.star
								li
								li
						.itext-ext
							p.sm-mar
								span.dark Выполняемые работы<br> 
								span.grey Оптическая микроскопия.
							p.sm-mar 
								span.dark Основные характеристики<br> 
								span.grey Исследования сплавов черных и цветных металлов.
							p.sm-mar 
								span.dark Производственная мощность<br> 
								span.grey До 250 исследуемых образцов в месяц
							p.sm-mar 
								span.dark Аккредитация: 
								span.grey Есть
							p.sm-mar 
								span.dark Организация (ВУЗ / ГНЦ): 
								span.grey ЗАО «Научно-производственный центр “Модуль”»
						.itext-ext
							a(href="#") Национальный исследовательский Томский политехнический университет
						.contacts-box
							span.phone +7 495 675 87 98
							span.email
								a(href="#").grey-link email@email.com
						.tags
							a(href="#").tags-item
								span.name Машиностроение
								span.count 12
							a(href="#").tags-item
								span.name Металлообработка
								span.count.empty
					.item
						.iname 
							a(href="#") Выставка научного оборудования НИИ спорта РГУФКСМиТ
						.irating.mar-bot-10
							span EBV-23
							ul
								li.star
								li.star
								li.star
								li
								li
						.itext 10 ноября 2014 года в лаборатории комплексных исследований НИИ спорта РГУФКСМиТ состоится выставка научного оборудования. <br>
						.itext-ext
							span.dark Организация (ВУЗ / ГНЦ): 
							a(href="#") Национальный исследовательский Томский политехнический университет
						.tags
							a(href="#").tags-item
								span.name Машиностроение
								span.count 12
							a(href="#").tags-item
								span.name Металлообработка
								span.count.empty
					.item
						.iprev
							img(src="img/content/equip-2.jpg", alt="")
						.iname 
							a(href="#") Станок токарный с ЧПУ
						.irating.mar-bot-10
							span EBV-23
							ul
								li.star
								li.star
								li.star
								li
								li
						.itext 10 ноября 2014 года в лаборатории комплексных исследований НИИ спорта РГУФКСМиТ состоится выставка научного оборудования. <br>
						.itext-ext
							span.dark Организация (ВУЗ / ГНЦ): 
							a(href="#") Национальный исследовательский Томский политехнический университет
						.tags
							a(href="#").tags-item
								span.name Машиностроение
								span.count 12
							a(href="#").tags-item
								span.name Металлообработка
								span.count.empty
				.ball
					a(href="#") Все оборудование
			
			//-.box-news.box-right.box-news_dotted
				.bname
					h3 
						a(href="#") Популярные услуги
				.bcon
					.item
						.iname 
							a(href="#") Выставка научного оборудования НИИ спорта РГУФКСМиТ
						.irating.irating_margin2
							ul
								li.star
								li.star
								li.star
								li
								li
						.itext 10 ноября 2014 года в лаборатории комплексных исследований НИИ спорта РГУФКСМиТ состоится выставка научного оборудования. <br>
						.itext-ext
							span.dark Организация (ВУЗ / ГНЦ): 
							a(href="#") Национальный исследовательский Томский политехнический университет
						.tags
							a(href="#").tags-item
								span.name Машиностроение
								span.count 12
							a(href="#").tags-item
								span.name Металлообработка
								span.count.empty
				.ball
					a(href="#") Все оборудование
			
			+support-block