//- Шаблон
//------------------------------------------------
extends _layout
 
 
//- Контент
//------------------------------------------------
block append content
	.main-width.main-wrap
		.pathway
			ul
				li: a(href="#") Рынок услуг
				li >
				li Организации
		//------------------------------------------------
		.page-name
			h1 Организации
			p Рынок услуг организаций
		//------------------------------------------------
		.main-full
			.search-con
				form(action="#")
					input(type="text", placeholder="Быстрый поиск по организациям").inp-text
					input(type="submit", value="").inp-submit
			.box-articles
				.heading
					.heading-left_sort-fl 
						| Сортировать по:						
						a(href="#")
							| НТП
							span
						a(href="#") 
							| Оборудования
							span 
						a(href="#").active 
							| Услуг
							span 
						a(href="#") 
							| ПО
							span
						a(href="#") 
							| РИД
							span
						a(href="#") 
							| Оценок пользователей
							span  
				.item-3col
					.iprev
						img(src="img/content/120-85-2.jpg", alt="")
					.icon
						.iname
							a(href="#") Московский государственный университет им. М.В.Ломоносова
						.itext.lh-small
							p Оборудование: 78% <br>
								| Услуги: 67% <br>
								| Программное обеспечние: 68% <br> 
								| Результаты интеллектуальной деятельности: 64% <br>
							a(href="#").btn-orange-empty Связаться
					.iconright
						.graph-name Рейтинг НТП 98 %
						.graph-box
							.graph-inner(style='width:98%;')
						.irating.irating_margin
							ul
								li.star
								li.star
								li.star
								li
								li
						.imeta
							.comments
								a(href="#") 51
							.views
								a(href="#") 225
				.item-3col
					.iprev
						img(src="img/content/120-85-1.jpg", alt="")
					.icon
						.iname
							a(href="#") Санкт-Петербургский государственный университет аэрокосмического приборостроения
						.itext.lh-small
							p Оборудование: 78% <br>
								| Услуги: 67% <br>
								| Программное обеспечние: 68% <br> 
								| Результаты интеллектуальной деятельности: 64% <br>
							a(href="#").btn-orange-empty Связаться
					.iconright
						.graph-name Рейтинг НТП 53 %
						.graph-box
							.graph-inner(style='width:53%;')
						.irating.irating_margin
							ul
								li.star
								li.star
								li.star
								li
								li
						.imeta
							.comments
								a(href="#") 51
							.views
								a(href="#") 225
				.item-3col
					.iprev
						img(src="img/content/120-85-2.jpg", alt="")
					.icon
						.iname
							a(href="#") ООО «Лаборатории АМФОРА»
						.itext.lh-small
							p Оборудование: 78% <br>
								| Услуги: 67% <br>
								| Программное обеспечние: 68% <br> 
								| Результаты интеллектуальной деятельности: 64% <br>
							a(href="#").btn-orange-empty Связаться
					.iconright
						.graph-name Рейтинг НТП 76 %
						.graph-box
							.graph-inner(style='width:76%;')
						.irating.irating_margin
							ul
								li.star
								li.star
								li.star
								li
								li
						.imeta
							.comments
								a(href="#") 51
							.views
								a(href="#") 225
				.item-3col
					.iprev
						img(src="img/content/120-85-2.jpg", alt="")
					.icon
						.iname
							a(href="#") Московский государственный университет им. М.В.Ломоносова
						.itext.lh-small
							p Оборудование: 78% <br>
								| Услуги: 67% <br>
								| Программное обеспечние: 68% <br> 
								| Результаты интеллектуальной деятельности: 64% <br>
							a(href="#").btn-orange-empty Связаться
					.iconright
						.graph-name Рейтинг НТП 98 %
						.graph-box
							.graph-inner(style='width:98%;')
						.irating.irating_margin
							ul
								li.star
								li.star
								li.star
								li
								li
						.imeta
							.comments
								a(href="#") 51
							.views
								a(href="#") 225
				.item-3col
					.iprev
						img(src="img/content/120-85-1.jpg", alt="")
					.icon
						.iname
							a(href="#") Санкт-Петербургский государственный университет аэрокосмического приборостроения
						.itext.lh-small
							p Оборудование: 78% <br>
								| Услуги: 67% <br>
								| Программное обеспечние: 68% <br> 
								| Результаты интеллектуальной деятельности: 64% <br>
							a(href="#").btn-orange-empty Связаться
					.iconright
						.graph-name Рейтинг НТП 53 %
						.graph-box
							.graph-inner(style='width:53%;')
						.irating.irating_margin
							ul
								li.star
								li.star
								li.star
								li
								li
						.imeta
							.comments
								a(href="#") 51
							.views
								a(href="#") 225
				.item-3col
					.iprev
						img(src="img/content/120-85-2.jpg", alt="")
					.icon
						.iname
							a(href="#") ООО «Лаборатории АМФОРА»
						.itext.lh-small
							p Оборудование: 78% <br>
								| Услуги: 67% <br>
								| Программное обеспечние: 68% <br> 
								| Результаты интеллектуальной деятельности: 64% <br>
							a(href="#").btn-orange-empty Связаться
					.iconright
						.graph-name Рейтинг НТП 76 %
						.graph-box
							.graph-inner(style='width:76%;')
						.irating.irating_margin
							ul
								li.star
								li.star
								li.star
								li
								li
						.imeta
							.comments
								a(href="#") 51
							.views
								a(href="#") 225