extends _layout

 
 
//- #content
//------------------------------------------------
block append content
	.main-width.main-wrap
		.pathway
			ul
				li: a(href="#") Рынок услуг
				li >
				li Оборудование
		//------------------------------------------------
		.page-name
			h1 Программы по развитию
			p Рынок услуг в части оборудования для инжиниринга и промдизайна
		//------------------------------------------------
		.main-left
			.search-con
				form(action="#")
					input(type="text", placeholder="Быстрый поиск по программам").inp-text
					input(type="submit", value="").inp-submit
			.box-articles
				.heading
					.heading-left_sort Сортировать по:						
					.heading-right_sort
						a(href="#")
							| Пользовательскому рейтингу 
							span
						a(href="#") 
							| Названию организации
							span 
				//---------- ---------- ----------
				mixin item (name)
					.item
						.iprev
							img(src="img/content/equip-1.jpg", alt="")
						.icon
							.iname
								a(href="#") #{name}
							.irating.mar-bot-10
								span Наименование программы
								ul
									li.star
									li.star
									li.star
									li
									li
							.itext.lh-small
								p Изготовление деталей типа тел вращения
								p 
									strong.reg-black Организация (ВУЗ / ГНЦ): 
									| Национальный исследовательский Томский политехнический университет
								p 
									strong.reg-black Состояние программы
									| выполняется
							.imeta
								.right.mar-top-20m
									.comments
										a(href="#") 51
									.views 225
				//---------- ---------- ----------
				+item("Наименование мероприятия")
				+item("Наименование мероприятия 2")
				+item("Наименование мероприятия 3")
				+item("Наименование мероприятия")
				+item("Наименование мероприятия 2")
				+item("Наименование мероприятия 3")
		//---------- ---------- ---------- ----------
		.main-right
			.box-simular-docs.box-right
				.bname
					h3 Похожие документы
				.bcon
					.item
						.idate Добавлен 19 сентября 2014
						.iname
							a(href="#") Свидетельство о государственной регистрации программы для ЭВМ № 2013610190 от 09.01.2013 (заявка № 2012619800).
					.item
						.idate Добавлен 19 сентября 2014
						.iname
							a(href="#") Свидетельство о государственной регистрации программы для ЭВМ № 2013610190 от 09.01.2013 (заявка № 2012619800).
					.item
						.idate Добавлен 19 сентября 2014
						.iname
							a(href="#") Свидетельство о государственной регистрации программы для ЭВМ № 2013610190 от 09.01.2013 (заявка № 2012619800).
					.item
						.idate Добавлен 19 сентября 2014
						.iname
							a(href="#") Свидетельство о государственной регистрации программы для ЭВМ № 2013610190 от 09.01.2013 (заявка № 2012619800).
				.ball
					a(href="#") Все документы
			//---------- ---------- ----------
			.box-news.box-right
				.bname
					h3 
						a(href="#") Последние новости
				.bcon
					.item
						.idate 30 Сентября
						.iname 
							a(href="#") Ученые объяснили смертельную опасность ветряных турбин для летучих мышей
						.imeta
							.comments
								a(href="#") 51
							.views
								a(href="#") 225
					.item
						.idate 30 Сентября
						.iname 
							a(href="#") Текстильный импортозамещающий комплекс появится в Ростовской области
						.imeta
							.comments
								a(href="#") 51
							.views
								a(href="#") 225
					.item
						.idate 30 Сентября
						.iname 
							a(href="#") Ученые объяснили смертельную 
						.imeta
							.comments
								a(href="#") 51
							.views
								a(href="#") 225
				.ball
					a(href="#") Все новости
			//------------------------------------------------
			.box-support
				.bcon
					.item
						a(href="#") 
							img(src="img/content/logo-minprom.png", alt="")
					.item
						a(href="#") 
							img(src="img/content/logo-smr.png", alt="")
					.item
						a(href="#") 
							img(src="img/content/logo-ibs.png", alt="")