//- Шаблон
//------------------------------------------------
extends _layout

//- Загаловок страницы
block title
	| - Результаты
	
block scripts
	script(src="js/jquery.supercal.js", type="text/javascript")
 
 
//- Контент
//------------------------------------------------
block append content
	.main-width.main-wrap
		.pathway
			ul
				li: a(href="#") Рынок услуг
				li >
				li РЕЗУЛЬТАТЫ ИНТЕЛЛЕКТУАЛЬНОЙ ДЕЯТЕЛЬНОСТИ
		//------------------------------------------------
		.page-name
			h1 РИД
			p Рынок услуг в части результатов интеллектальной деятельности
		//------------------------------------------------
		.main-left
			.search-con
				form(action="#")
					input(type="text", placeholder="Быстрый поиск по РИДам").inp-text
					input(type="submit", value="").inp-submit
			.box-articles
				.heading
					.heading-left_sort Сортировать по:						
					.heading-right_sort
						a(href="#")
							| Исполнителю
							span
						a(href="#") 
							| Названию организации
							span 
				.item
					.icon
						.iname
							a(href="#") Эскизные проекты вариантов роторов низкого давления тихоходной турбины <br>мощностью выше 1200 МВт с двумя ЦНД
						.itext.lh-small.black-strong
							p Изготовление деталей типа тел вращения
							p
								strong Исполнитель: 
								| НИОКР ОАО НПО «ЦНИИТМАШ»
							p
								strong Вид РИД: 
								| Секрет производства (
								a(href="#") ноу-хау
								|)
							p
								strong ФЦП: 
								| «Национальная технологическая база» на 2007-2011 годы
							p
								strong Охранный документ: 
								| в процессе регистрации
								a(href="#").updade-black
							p
								strong Стоимость передачи РИД: 
								| 240 000 рублей
						.tags
							a(href="#").tags-item
								span.name Выставки
								span.count 12
							a(href="#").tags-item
								span.name Машиностроение
								span.count.empty
						.imeta
							.right.mar-top-20m
								.comments
									a(href="#") 51
								.views
									a(href="#") 225
				.item
					.icon
						.iname
							a(href="#") Эскизные проекты вариантов роторов низкого давления тихоходной турбины <br>мощностью выше 1200 МВт с двумя ЦНД
						.itext.lh-small.black-strong
							p Изготовление деталей типа тел вращения
							p
								strong Исполнитель: 
								| НИОКР ОАО НПО «ЦНИИТМАШ»
							p
								strong Вид РИД: 
								| Секрет производства (
								a(href="#") ноу-хау
								|)
							p
								strong ФЦП: 
								| «Национальная технологическая база» на 2007-2011 годы
							p
								strong Охранный документ: 
								| в процессе регистрации
								a(href="#").updade-black
							p
								strong Стоимость передачи РИД: 
								| 240 000 рублей
						.tags
							a(href="#").tags-item
								span.name Выставки
								span.count 12
							a(href="#").tags-item
								span.name Машиностроение
								span.count.empty
						.imeta
							.right.mar-top-20m
								.comments
									a(href="#") 51
								.views
									a(href="#") 225
				.item
					.icon
						.iname
							a(href="#") Эскизные проекты вариантов роторов низкого давления тихоходной турбины <br>мощностью выше 1200 МВт с двумя ЦНД
						.itext.lh-small.black-strong
							p Изготовление деталей типа тел вращения
							p
								strong Исполнитель: 
								| НИОКР ОАО НПО «ЦНИИТМАШ»
							p
								strong Вид РИД: 
								| Секрет производства (
								a(href="#") ноу-хау
								|)
							p
								strong ФЦП: 
								| «Национальная технологическая база» на 2007-2011 годы
							p
								strong Охранный документ: 
								| в процессе регистрации
								a(href="#").updade-black
							p
								strong Стоимость передачи РИД: 
								| 240 000 рублей
						.tags
							a(href="#").tags-item
								span.name Выставки
								span.count 12
							a(href="#").tags-item
								span.name Машиностроение
								span.count.empty
						.imeta
							.right.mar-top-20m
								.comments
									a(href="#") 51
								.views
									a(href="#") 225
				.item
					.icon
						.iname
							a(href="#") Эскизные проекты вариантов роторов низкого давления тихоходной турбины <br>мощностью выше 1200 МВт с двумя ЦНД
						.itext.lh-small.black-strong
							p Изготовление деталей типа тел вращения
							p
								strong Исполнитель: 
								| НИОКР ОАО НПО «ЦНИИТМАШ»
							p
								strong Вид РИД: 
								| Секрет производства (
								a(href="#") ноу-хау
								|)
							p
								strong ФЦП: 
								| «Национальная технологическая база» на 2007-2011 годы
							p
								strong Охранный документ: 
								| в процессе регистрации
								a(href="#").updade-black
							p
								strong Стоимость передачи РИД: 
								| 240 000 рублей
						.tags
							a(href="#").tags-item
								span.name Выставки
								span.count 12
							a(href="#").tags-item
								span.name Машиностроение
								span.count.empty
						.imeta
							.right.mar-top-20m
								.comments
									a(href="#") 51
								.views
									a(href="#") 225
		//------------------------------------------------
		.main-right
			.box-right
				.bname
					h3 Виды рид
				.bcon
					ul
						li: a(href="#") Изобретение
						li: a(href="#") Полезная модель
						li: a(href="#") Промышленный образец
						li: a(href="#") Программа для ЭВМ
						li: a(href="#") База данных
						li: a(href="#") Селекционное достижение
						li: a(href="#") Топология интегральных  микросхем
						li: a(href="#") Ноу-хау
			.box-right.boxside-sort-cat
				.bname
					h3 Области применения
				.bcon
					ul
						li.selected
							a(href="#") Авиация и космос (10)
						li
							a(href="#") Безопасность (17)
						li
							a(href="#") Бизнес-консалтинг (1)
						li
							a(href="#") Биотехнологии и медицина (25)
						li
							a(href="#") Власть (31)
						li
							a(href="#") Добыча полезных ископаемых (4)
						li.selected
							a(href="#") ЖКХ (3)
						li
							a(href="#") Бизнес-консалтинг (1)
						li
							a(href="#") Биотехнологии и медицина (25)
						li
							a(href="#") Власть (31)
						li
							a(href="#") Добыча полезных ископаемых (4)
						li.selected
							a(href="#") ЖКХ (3)
						li
							a(href="#") Безопасность (17)
						li
							a(href="#") Бизнес-консалтинг (1)
						li
							a(href="#") Биотехнологии и медицина (25)
						li
							a(href="#") Власть (31)
						li
							a(href="#") Добыча полезных ископаемых (4)
						li.selected
							a(href="#") ЖКХ (3)
						li
							a(href="#") Бизнес-консалтинг (1)
						li
							a(href="#") Биотехнологии и медицина (25)
			//------------------------------------------------
			.box-support
				.bcon
					.item
						a(href="#") 
							img(src="img/content/logo-minprom.png", alt="")
					.item
						a(href="#") 
							img(src="img/content/logo-smr.png", alt="")
					.item
						a(href="#") 
							img(src="img/content/logo-ibs.png", alt="")