//- Шаблон
//------------------------------------------------
extends _layout

//- Загаловок страницы
block title
	| - История/Новость
	
block styles
	link(href="css/jquery.remodal.css", rel="stylesheet")
block scripts
	script(src="js/jquery.remodal.js", type="text/javascript")


//- Контент
//------------------------------------------------
block append content
	.hide
		.remodal(data-remodal-id="enter-popup")
			.ins.login-popup
				span Авторизуйтесь
				.social
					ul
						li.vk
							a(href="#")
						li.fb
							a(href="#")
						li.tw
							a(href="#")
						li.od
							a(href="#")
						li.you
							a(href="#")
						li.rss
							a(href="#") 
	//------------------------------------------------
	.main-width.main-wrap
		.pathway
			ul
				li.nound
					a(href="#") Информация
				li.sep >
				li
					a(href="#") Истории успеха
				li.sep >
				li
					a(href="#") Взлет  «Инфра инжиниринг»
		//------------------------------------------------
		.main-left
			.box-text-item
				.bmeta
					.date 19 сентября 2014 года
					.views 2726
				.bname
					h1 Взлет «Инфра инжиниринг» показывает, что такое история успеха в России
				.bcon.bcon-text-style
					img(src="img/content/slider-3.jpg", alt="").full
					p.photo-desc Фото: Павел Птицын
					p.grey 
						i В пригороде Ростова-на-Дону, в районе аэродрома Батайск, будет создан вертолетный кластер. Он включит в себя летно-испытательный комплекс, сборочное производство вертолетов типа Ми-26, Ми-28, Ми-35 и перспективного среднего вертолета, а также центр по производству композитных лопастей и целый ряд других подразделений. О проекте пишет «Российская газета».
					p В рамках «Гидроавиасалона-2014», который прошел в Геленджике, Минпромторгом, корпорацией Ростех и правительством Ростовской области был подписан меморандум о реализации инвестпроекта.
					p «Мы договорились о выделении участка земли на базе территории воинской части. Минобороны согласилось передать аэродром в эксплуатацию Ростеху, «Вертолетам России», — пояснил глава Минпромторга Денис Мантуров. 
					p Бывший владелец холдинга «Связьстрой» Роман Троценко тоже получил предложение: «Были намеки, что продажа бизнеса поможет с заказами. Причем концерн хотели получить практически бесплатно». В «Связьстрой» входили три компании: «Связьстрой-5» (Челябинск), «Связьстрой-2» (Краснодар) и «Межгорсвязьстрой». Из-за кризиса их оборот тогда сократился до $250 млн, и Троценко решил выйти из бизнеса. Но не бесплатно: «Мы нашли другого покупателя — «Конверс груп».
					.photo-desc-box
						.pdb-left
							p Сборочное производство вертолетов типа Ми-26, Ми-28, Ми-35
							p.photo-desc Фото: Павел Птицын
						.pdb-right
							img(src="img/content/slider-2.jpg", alt="").full
					p В 2009 г. почти в два раза сократилась выручка крупнейшего в Сибири «Связьстроя-6», продолжилось падение выручки в 2010 г. у вологодского «Связьстроя-3», следует из их квартальных отчетов. Но компании выстояли.
					p Огороднов в прошлом году заявлял, что давления на компании не оказывал и никого не заставлял продать бизнес. Как бы то ни было, ни одного из «Связьстроев» (а всего их было семь) ему купить не удалось.
					p &nbsp;
					h3 Заказчик всегда прав
					p В 2009 г. основатель Marshall Capital Partners Константин Малофеев вошел в совет директоров «Связьинвеста» (и возглавил комитет по стратегическому развитию), а его бывшие коллеги по Marshall Михаил Лещенко, Александр Провоторов и Антон Хозяинов получили в этом холдинге руководящие должности: Лещенко — заместителя гендиректора «Связьинвеста» (в 2005-2008 гг. был управляющим директором Marshall), Провоторов — первого заместителя гендиректора «Связьинвеста» (в 2005-2009 гг. — гендиректор Marshall), Хозяинов — заместителя гендиректора — финдиректора «Ростелекома» (занимал аналогичную должность в Marshall).
					p &nbsp;
					h3 Второй успех
					p Группа «Инфра» была создана на базе активов «Телеком МТК», сообщила «Инфра». Бизнес «Телеком МТК» унаследовала компания «Регионстрой», которая сейчас является крупнейшей в группе по выручке.
					p 
						img(src="img/content/slider-3.jpg", alt="", style="float:right; width:300px; margin:0 0 15px 15px;")
						| Вторая по выручке компания в группе «Инфра» — московский «Союз-телефонстрой». «Инфра» признает, что владеет лишь 20% этой компании. Но де-факто у группы все 100%, сказано в ее презентации (Огороднов, впрочем, говорит, что презентация не является подлинной; см. врез «История с презентацией»). Однако и Счетная палата в отчете о проверке «Связьинвеста» тоже включила «Союз-телефонстрой» в группу «Инфра». В июле 2010 г. Огороднов возглавил совет директоров «Союз-телефонстроя», а его жена Татьяна Огороднова вошла в ревизионную комиссию.
				.bmetabot
					.share
						span Поделиться
						ul
							li.vk
								a(href="#")
							li.fb
								a(href="#")
							li.tw
								a(href="#")
							li.in
								a(href="#")
					.comments
						a(href="#").btn-orange 19 комменатриев
				.box-interest
					.bname
						h3 Так же интересно
					.bcon
						.item-left
							.iprev
								img(src="img/content/200-150-1.jpg", alt="")
								p.desc Фото: Павел Птицын
							.item
								.idate 30 Сентября
								.iname 
									a(href="#") Ученые объяснили смертельную опасность ветряных турбин для летучих мышей
								.itext В среду, 10 сентября, первый заместитель министра промышленности и торговли Глеб Никитин принял участие в заседании Межправительственной Российско-Сингапурской комиссии высокого уровня и Российско- Сингапурском деловом форуме.
								.imore
									a(href="#") Читать полностью
								.imeta
									.comments
										a(href="#") 51
									.views
										a(href="#") 225
						.items-right
							.item
								.idate 30 Сентября
								.iname 
									a(href="#") Ученые объяснили смертельную опасность ветряных турбин для летучих мышей
								.imeta
									.comments
										a(href="#") 51
									.views
										a(href="#") 225
							.item
								.idate 30 Сентября
								.iname 
									a(href="#") Текстильный импортозамещающий комплекс появится в Ростовской области
								.imeta
									.comments
										a(href="#") 51
									.views
										a(href="#") 225
							.item
								.idate 30 Сентября
								.iname 
									a(href="#") Ученые объяснили смертельную 
								.imeta
									.comments
										a(href="#") 51
									.views
										a(href="#") 225
				.box-comments
					.bwrite
						.bname
							h3 Комментарии к статье
							a(href="#enter-popup") Войти
						.bcon
							.ava
								img(src="img/ava.png", alt="")
							.text
								textarea(placeholder="")
							.action
								a(href="#").btn-orange Оставить комментарий
					.bcomments
						.comment
							.cprev
								a(href="#") 
									img(src="img/content/ava-2.jpg", alt="")
							.ccon
								.name
									a(href="#") Konrad Karlovich
									.date 1 час назад
								.text Я эту штуку не куплю. Работаю с Microsoft Office -- он умнее, чем я.
								.answer
									a(href="#") Ответить
							.comment
								.cprev
									a(href="#") 
										img(src="img/content/ava-2.jpg", alt="")
								.ccon
									.name
										a(href="#") Konrad Karlovich
										.date 1 час назад
									.text Кто вам сказал, что Surface 2 провал? Вполне нормально берут, конкурентов с таким функционалом просто нет в этом сегменте.
									.answer
										a(href="#") Ответить
								.comment
									.cprev
										a(href="#") 
											img(src="img/ava.png", alt="")
									.ccon
										.name
											a(href="#") Konrad Karlovich
											.date 1 час назад
										.text Из всего перечня именитых контор Мелкомягкие дали фору абсолютно всем, посмотрели на представленный продукт.
										.answer
											a(href="#") Ответить
									.comment
										.cprev
											a(href="#") 
												img(src="img/content/ava-1.png", alt="")
										.ccon
											.name
												a(href="#") Konrad Karlovich
												.date 1 час назад
											.text Кто вам сказал, что Surface 2 провал? Вполне нормально берут, конкурентов с таким функционалом просто нет в этом сегменте.
											.answer
												a(href="#") Ответить
						.comment
							.cprev
								a(href="#") 
									img(src="img/ava.png", alt="")
							.ccon
								.name
									a(href="#") Konrad Karlovich
									.date 1 час назад
								.text Из всего перечня именитых контор Мелкомягкие дали фору абсолютно всем, посмотрели на представленный продукт.
								.answer
									a(href="#") Ответить
						.comment
							.cprev
								a(href="#") 
									img(src="img/content/ava-1.png", alt="")
							.ccon
								.name
									a(href="#") Konrad Karlovich
									.date 1 час назад
								.text Кто вам сказал, что Surface 2 провал? Вполне нормально берут, конкурентов с таким функционалом просто нет в этом сегменте.
								.answer
									a(href="#") Ответить
			//------------------------------------------------
		.main-right
			.box-news.box-right
				.bname
					h3 
						a(href="#") Последние новости
				.bcon
					.item
						.idate 30 Сентября
						.iname 
							a(href="#") Ученые объяснили смертельную опасность ветряных турбин для летучих мышей
						.imeta
							.comments
								a(href="#") 51
							.views
								a(href="#") 225
					.item
						.idate 30 Сентября
						.iname 
							a(href="#") Текстильный импортозамещающий комплекс появится в Ростовской области
						.imeta
							.comments
								a(href="#") 51
							.views
								a(href="#") 225
					.item
						.idate 30 Сентября
						.iname 
							a(href="#") Ученые объяснили смертельную 
						.imeta
							.comments
								a(href="#") 51
							.views
								a(href="#") 225
				.ball
					a(href="#") Все новости
			//------------------------------------------------
			.box-right.boxside-news
				.bcon
					.item
						.iprev
							a(href="#") 
								img(src="img/content/220-160-1.jpg", alt="")
						.icon
							.idate 10 сентября 2014
							.iname
								a(href="#") Состояние науки российской федерации
							.imeta
								.comments
									a(href="#") 51
								.views
									a(href="#") 225
					.item
						.iprev
							a(href="#") 
								img(src="img/content/220-160-2.jpg", alt="")
						.icon
							.idate 10 сентября 2014
							.iname
								a(href="#") Состояние науки российской федерации
							.imeta
								.comments
									a(href="#") 51
								.views
									a(href="#") 225
					.item
						.iprev
							a(href="#") 
								img(src="img/content/220-160-3.jpg", alt="")
						.icon
							.idate 10 сентября 2014
							.iname
								a(href="#") Состояние науки российской федерации
							.imeta
								.comments
									a(href="#") 51
								.views
									a(href="#") 225
					.item
						.iprev
							a(href="#") 
								img(src="img/content/220-160-4.jpg", alt="")
						.icon
							.idate 10 сентября 2014
							.iname
								a(href="#") Состояние науки российской федерации
							.imeta
								.comments
									a(href="#") 51
								.views
									a(href="#") 225
			//------------------------------------------------
			.box-support
				.bcon
					.item
						a(href="#") 
							img(src="img/content/logo-minprom.png", alt="")
					.item
						a(href="#") 
							img(src="img/content/logo-smr.png", alt="")
					.item
						a(href="#") 
							img(src="img/content/logo-ibs.png", alt="")
