extends _layout

//------------------------------------------------
block append content

	.main-width.main-wrap
		.pathway
			ul
				li.nound
					a(href="#") Информация
				li.sep >
				li
					a(href="#") Моя организация
		.page-name.page-name_small
			h1 Источники и структура выручки <br>от реализации
		
		.main-full
			
			.box-articles.mar-bot-20
				.heading.heading_normal Продукция гражданского назначения
				
				.kir
					.kir__col.kir__col_wide 
					.kir__col.kir__col_med 
						.kir__name Внутренний рынок 
					.kir__col.kir__col_med
						.kir__name Внешний рынок
				.kir
					.kir__col.kir__col_wide Российские рубли, млн. руб.
					.kir__col.kir__col_med: input(type="text", placeholder="173 000").inp_kir
					.kir__col.kir__col_med: input(type="text", placeholder="173 000").inp_kir
				.kir
					.kir__col.kir__col_wide Американские доллары, млн руб.
					.kir__col.kir__col_med: input(type="text", placeholder="173 000").inp_kir
					.kir__col.kir__col_med: input(type="text", placeholder="173 000").inp_kir.inp_orange
			
			.box-articles
				.heading.heading_normal Продукция гражданского назначения
				
				.kir
					.kir__col.kir__col_wide 
					.kir__col.kir__col_med 
						.kir__name Гоз
					.kir__col.kir__col_med
						.kir__name Внешний рынок
				.kir
					.kir__col.kir__col_wide Российские рубли, млн. руб.
					.kir__col.kir__col_med: input(type="text", placeholder="173 000").inp_kir
					.kir__col.kir__col_med: input(type="text", placeholder="173 000").inp_kir
				.kir
					.kir__col.kir__col_wide Американские доллары, млн руб.
					.kir__col.kir__col_med: input(type="text", placeholder="173 000").inp_kir
					.kir__col.kir__col_med: input(type="text", placeholder="173 000").inp_kir.inp_orange
			
			.mar-top-20.center
				a(href="#").btn-grey-wide.inline Отмена
				a(href="#").btn-orange-wide.inline Сохранить